<!DOCTYPE html>
<html lang="en-US">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GB79W6FVH8"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-GB79W6FVH8');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>MyExamsPrep - SAT | ACT | PSAT | TJ | AOS | AET | Physics | Chemistry | Biology | Math - MyExamsPrep</title>
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="MyExamsPrep" />
    <meta property="og:site_name" content="MyExamsPrep" />
    <meta property="article:modified_time" content="2020-05-28T09:02:23+00:00" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:label1" content="Est. reading time">
    <meta name="twitter:data1" content="4 minutes">

    <link rel='stylesheet' id='google_fonts-css' href='https://fonts.googleapis.com/css?family=Montserrat%3A100%2C300%2C400%2C500%2C600%2C700%7CRaleway%3A300%2C400%2C500%2C600%2C700%2C800%2C900&#038;ver=2.0.0#038;subset=latin%2Clatin-ext'
        type='text/css' media='all' />
    <link rel='stylesheet' id='tmpmela-isotope-css' href='css/isotop-port.css?ver=5.6.4'
        type='text/css' media='all' />
    <link rel='stylesheet' id='tmpmela-custom-css' href='css/custom.css?ver=5.6.4' type='text/css'
        media='all' />
    <link rel='stylesheet' id='owl.carousel-css' href='css/owl.carousel.css?ver=5.6.4'
        type='text/css' media='all' />
    <link rel='stylesheet' id='owl.transitions-css' href='css/owl.transitions.css?ver=5.6.4'
        type='text/css' media='all' />
    <link rel='stylesheet' id='shadowbox-css' href='css/shadowbox.css?ver=5.6.4' type='text/css'
        media='all' />
    <link rel='stylesheet' id='tmpmela-shortcode_style-css' href='css/shortcode_style.css?ver=5.6.4'
        type='text/css' media='all' />
    <link rel='stylesheet' id='animate_min-css' href='css/animate.min.css?ver=5.6.4'
        type='text/css' media='all' />
    <link rel='stylesheet' id='tmpmela-woocommerce_css-css' href='css/woocommerce.css?ver=5.6.4'
        type='text/css' media='all' />
    <link rel='stylesheet' id='sb_instagram_styles-css' href='css/sbi-styles.min.css?ver=2.8.1'
        type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href='css/style.min.css?ver=5.6.4'
        type='text/css' media='all' />
    <link rel='stylesheet' id='wc-block-vendors-style-css' href='css/vendors-style.css?ver=4.0.0'
        type='text/css' media='all' />
    <link rel='stylesheet' id='wc-block-style-css' href='css/style.css?ver=4.0.0' type='text/css'
        media='all' />
    <link rel='stylesheet' id='jquery-selectBox-css' href='css/jquery.selectBox.css?ver=2.2.0'
        type='text/css' media='all' />
    <link rel='stylesheet' id='yith-wcwl-font-awesome-css' href='css/font-awesome.css?ver=4.7.0'
        type='text/css' media='all' />
    <link rel='stylesheet' id='yith-wcwl-main-css' href='css/style2.css?ver=3.0.20' type='text/css'
        media='all' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"
        type="text/css">
    <link rel='stylesheet' id='contact-form-7-css' href='css/styles.css?ver=5.3.2' type='text/css'
        media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='css/rs6.css?ver=6.3.9' type='text/css'
        media='all' />
    <link rel='stylesheet' id='apm-styles-css' href='css/style3.css?ver=5.6.4' type='text/css'
        media='all' />
    <link rel='stylesheet' id='jquery-colorbox-css' href='css/colorbox.css?ver=5.6.4'
        type='text/css' media='all' />
    <link rel='stylesheet' id='yith-quick-view-css' href='css/yith-quick-view.css?ver=2.4.9'
        type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce_prettyPhoto_css-css' href='css/prettyPhoto.css?ver=5.6.4'
        type='text/css' media='all' />
    <link rel='stylesheet' id='tmpmela-fonts-css' href='//fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C700%2C300italic%2C400italic%2C700italic%7CBitter%3A400%2C700&#038;subset=latin%2Clatin-ext'
        type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='css/font-awesome.css?ver=4.7.0'
        type='text/css' media='all' />
    <link rel='stylesheet' id='tmpmela-style-css' href='css/style4.css?ver=2.0' type='text/css'
        media='all' />
    <link rel='stylesheet' id='js_composer_front-css' href='css/js_composer.min.css?ver=6.6.0'
        type='text/css' media='all' />
    <script type='text/javascript' src='js/jquery.min.js' ></script>
    <!-- <script type='text/javascript' src='js/jquery.min.js?ver=3.5.1' ></script> -->
    <script type='text/javascript' src='js/jquery-migrate.min.js?ver=3.3.2' id='jquery-migrate-js'></script>
    <!-- <script type='text/javascript' src='js/rbtools.min.js?ver=6.3.9' id='tp-tools-js'></script>
    <script type='text/javascript' src='js/rs6.min.js?ver=6.3.9' id='revmin-js'></script> -->
    <script type='text/javascript' src='js/custom_assessment.js?ver=5.6.4' id='tmpmela-custom-js'></script>
    <script type='text/javascript' src='js/jquery.blockUI.min.js?ver=2.70' id='jquery-blockui-js'></script>
    <script type='text/javascript' src='js/add-to-cart.min.js?ver=5.0.0' id='wc-add-to-cart-js'></script>
    <script type='text/javascript' src='js/woocommerce-add-to-cart.js?ver=6.6.0' id='vc_woocommerce-add-to-cart-js-js'></script>
    <script type='text/javascript' src='js/owl.carousel.min.js?ver=5.6.4' id='owlcarousel-js'></script>
    <script type='text/javascript' src='js/jquery.jqtransform.js?ver=5.6.4' id='jqtransform-js'></script>
    <script type='text/javascript' src='js/jquery.jqtransform.script.js?ver=5.6.4' id='jqtransform_script-js'></script>
    <script type='text/javascript' src='js/jquery.custom.min.js?ver=5.6.4' id='tmpmela-custom_script-js'></script>
    <script type='text/javascript' src='js/megnor.min.js?ver=5.6.4' id='tmpmela-megnor-js'></script>
    <script type='text/javascript' src='js/carousel.min.js?ver=5.6.4' id='carousel-js'></script>
    <script type='text/javascript' src='js/jquery.easypiechart.min.js?ver=5.6.4' id='easypiechart-js'></script>
    <script type='text/javascript' src='js/jquery.formalize.min.js?ver=5.6.4' id='formalize-js'></script>
    <script type='text/javascript' src='js/respond.min.js?ver=5.6.4' id='respond-js'></script>
    <script type='text/javascript' src='js/jquery.validate.js?ver=5.6.4' id='validate-js'></script>
    <script type='text/javascript' src='js/shadowbox.js?ver=5.6.4' id='shadowbox-js'></script>
    <script type='text/javascript' src='js/waypoints.min.js?ver=5.6.4' id='waypoints-js'></script>
    <script type='text/javascript' src='js/jquery.megamenu.js?ver=5.6.4' id='megamenu-js'></script>
    <script type='text/javascript' src='js/easyResponsiveTabs.js?ver=5.6.4' id='easyResponsiveTabs-js'></script>
    <script type='text/javascript' src='js/jquery.treeview.js?ver=5.6.4' id='jtree_min-js'></script>
    <script type='text/javascript' src='js/jquery.jscroll.min.js?ver=5.6.4' id='scroll-min-js'></script>
    <script type='text/javascript' src='js/countUp.js?ver=5.6.4' id='countUp-js'></script>
    <!-- <script type='text/javascript' src='js/jquery.bxslider.js?ver=5.6.4' id='bxslider-js'></script> -->
    <script type='text/javascript' src='js/doubletaptogo.js?ver=5.6.4' id='doubletaptogo-js'></script>
    <script type='text/javascript' src='js/html5.js?ver=5.6.4' id='tmpmela-html5-js'></script>
    <!-- <script type='text/javascript' src='js/megnorloadmore.js?ver=5.6.4' id='phpvariable-js'></script> -->
    <meta name="generator" content="css/style4.css - " />
    <link rel="shortcut icon" type="image/png" href="images/favicon1.png" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'
        type='text/css' />

    <script src="js/jquery-2.1.1.min.js" type='text/javascript'></script>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <!-- <script src="js/theme.js" type="text/javascript"></script> -->
    <link href="css/stylesheet.css?vers=6" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css" />
    <script src="js/popper.min.js" type="text/javascript"></script>

        <!-- #Angular Js -->
    <script src="angular_js/angular.min.js" type="text/javascript"></script>
    <script src="angular_js/angular-route.js" type="text/javascript"></script>
    <script src="angular_js/angular-animate.js" type="text/javascript"></script>
    <script src="angular_js/angular-sanitize.js" type="text/javascript"></script>

    <!-- Material Angular -->
    <script src="angular_js/material/angular-aria.min.js" type="text/javascript"></script>
    <script src="angular_js/material/angular-material.js" type="text/javascript"></script>
    <link href="angular_js/material/angular-material.css" rel="stylesheet" type="text/css" />


    <script src="code/Free-Assessment-Review.js?vers=6"></script>   

    <style>
      .badge{
        font-size: small!important;
      }
      .btn-light.focus,btn-secondary:hover {
          color: #3b3b3b!important;
      }
    </style>
</head>


<body data-ng-app="myApp" data-ng-controller="myCtrl" data-ng-init="init()" class="">
    <!--CSS Spinner-->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="rect1">
            </div>
            <div class="rect2">
            </div>
            <div class="rect3">
            </div>
            <div class="rect4">
            </div>
            <div class="rect5">
            </div>
        </div>
    </div>

    <div id="page" class="hfeed site">
        <!-- Header -->
        <div ng-include='"include/headerAssessment.html?vers=6"'></div>

        <div id="common-home">    
          <div class="content_middle">
              <section class="ishiproductsblock container mb-0">
                <div class="section-header">
                  <h4 class="home-title mb-0" data-aos="fade-down"><span>TEST REVIEW</span></h4>
                </div>
      
                <div class="row" style="text-align:left">
                  <div class="col-12 text-right px-4" data-aos="fade-left">
                    <button class="btn btn-dark" onclick="location.href='Free-Assessment.html'" ><i class="fa fa-long-arrow-left pr-2"></i> Back</button>
                  </div>

                  
                  <div class="col-sm-12 my-2">
                    <div class="table-responsive card card-body rounded-my mt-2  pb-sm-3">
                      <div class="row spinData" style="display: none;">
                        <div class="col-12 text-center">
                          <div class="spinner-grow" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                          <div class="spinner-grow" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                          <div class="spinner-grow" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 text-center" data-aos="fade-right">
                          <h3 class="font-weight-bold letter-spacing-2-5 rounded-my text-dark-1 d-inline-block mb-3">
                            <span ng-bind="post.getTestReview[0]['TEST']"></span>
                            <small ng-bind="' ('+SECTIONNAME+')'"></small>
                            <br>
                            <small ng-show="assfor == 'SECTION'" data-ng-bind="'(Attempt : '+ assattempt+') '"></small>
                            <small data-ng-bind="' (Date : '+ post.getTestReview[0]['TESTDATE']+')'"></small>
                          </h3>
                        </div>
                      </div> 
      
                      <!-- SECTION -->
                      <table class="table table-bordered bg-white table-sm" data-aos="fade-up" ng-show="assfor == 'SECTION'">
                          <tr class="bg-light">
                              <th>#</th>
                              <th>Question</th>
                              <th>Options</th>
                              <th>Correct Answer</th>
                              <th>Your Answer</th>
                              <th>WhiteBoard</th>
                              <th class="text-center">View Explanation</th>
                              <th class="p-0">
                                <div class="d-flex text-center text-white">
                                  <div title="Total Correct" class="bg-success flex" data-ng-bind="RESULT_RIGHT"></div>
                                  <div title="Total Incorrect" class="bg-danger flex" data-ng-bind="RESULT_WRONG"></div>
                                </div>
                              </th>
                          </tr>
                          <tr ng-repeat="x in post.getTestReview">
                              <td data-ng-bind="$index+1"></td>
                              <td ng-bind="x.QUESTION" style="white-space: pre-line;"></td>
                              <td ng-bind="x.QUE_OPTIONS == '' ? '—' : x.QUE_OPTIONS"></td>
                              <td ng-bind="x.CORRECTANS"></td>
                              <td ng-bind="x.STUDENTANS"></td>
                              <td>
                                <img ng-show="x.WHITEBOARD_IMG!=''" src="{{x.WHITEBOARD_IMG}}" width="200" alt="WhiteBoard Image">
                                <span ng-show="x.WHITEBOARD_IMG==''">&#8212;</span>
                              </td>
                              <td class="text-center">
                                <button ng-show="x.ANS_EXPLANATION!==''" ng-click="openExplanationModal(x)" data-toggle="modal" 
                                        data-target="#ExplanationModal" class="btn btn-light shadow-sm">
                                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                </button>
                                <b ng-show="x.ANS_EXPLANATION==''"><i class="fa fa-ban text-black-50" aria-hidden="true"></i></b>
                              </td>
                              <td class="text-center" ng-class="x.RESULT == 1 ? 'bg-success' : 'bg-danger'">
                                <i class="fa text-white" ng-class="x.RESULT == 1 ? 'fa-check' : 'fa-times'"></i>
                              </td>
                          </tr>
                          <tr ng-hide="post.getTestReview.length>0">
                            <td colspan="100%" class="text-center text-danger">Data not found.</td>
                          </tr>
                      </table>
                      
                      <!-- ESSAY -->
                      <div class="row" id="EssaySection" data-aos="fade-up" ng-show="assfor == 'ESSAY'">
                        <div class="col-12">
                          <div class="card">
                            <div class="card-header">
                              <span class="mr-3 text-nowrap">
                                <b>Total Words : <span class="text-primary" data-ng-bind="TOTAL_WORD"></span></b>
                              </span>
                              <span class="mr-3 text-nowrap">
                                <b>Total Characters : <span class="text-primary" data-ng-bind="TOTAL_CHAR"></span></b>
                              </span>
                              <span class="">
                                <b><span class="text-nowrap">Start&#8212;End Time :</span> <span class="text-primary text-wrap" data-ng-bind="NEW_STARTTIME +' &#8212; '+ NEW_ENDTIME"></span></b>
                              </span>
                            </div>
      
                            <div class="card-body">
                              <style>#STESSAY>p{color:#000;}</style>
                              <h3>
                                <u ng-bind="TOPIC.length > 0 ? TOPIC : '-'"></u>
                              </h3>
                              <div class="text-dark" id="STESSAY" ng-bind-html="ESSAY"></div>
                            </div>
      
                            <div class="card-footer py-2">
                              <div class="row">
                                <div class="col-12 d-flex justify-content-between">
                                  <div class="align-self-center">
                                    <span class="mr-3 text-nowrap">
                                      <b>Limit on : <span class="text-info" data-ng-bind="LIMITON | capitalize"></span></b>
                                    </span>
                                    <span class="mr-3 text-nowrap">
                                      <b>Limit : <span class="text-info" data-ng-bind="LIMIT"></span></b>
                                    </span>
                                    <span class="mr-3 text-nowrap">
                                      <b>Time Alloted : <span class="text-info" data-ng-bind="TIMEALLOWED + ' Minute'"></span></b>
                                    </span>
                                  </div>
                                </div>
      
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                  <div class="table-responsive">
                                    <table class="table table-sm table-bordered bg-white mb-0 mt-3">
                                      <thead class="thead-light">
                                        <tr>
                                          <th>Sno.</th>
                                          <th>Criteria (Alloted Marks)</th>
                                          <th>Score</th>
                                          <th>Comment</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr ng-class="{'bg-dark text-white' : x.EGID == temp.egid}" ng-repeat="x in post.getGradingData" >
                                          <td data-ng-bind="$index+1"></td>
                                          <td data-ng-bind="x.CRITERIA +' ('+ x.ALLOTEDMARKS+')'"></td>
                                          <td data-ng-bind="x.SCORE"></td>
                                          <td data-ng-bind="x.REMARK"></td>
                                        </tr>
                                        <tr ng-hide="post.getGradingData.length>0">
                                          <td colspan="100%" class="text-center text-danger">No Records</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
      
                              
                            </div>
                          </div>
                        </div>
                      </div>
      
                    </div>
                  </div>
                
                  <div class="col-12 text-right my-2 px-4" data-aos="fade-left">
                    <button class="btn btn-dark" onclick="location.href='Free-Assessment.html'" ><i class="fa fa-long-arrow-left pr-2"></i> Back</button>
                  </div>
                </div>
            </section>
          </div>
        </div>


      <!-- Explanation Modal -->
      <div class="modal fade" id="ExplanationModal" tabindex="-1" aria-labelledby="ExplanationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-light">
              <h4 class="modal-title font-17 font-weight-bold" id="ExplanationModalLabel">Explanation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-12">
                  <img ng-show="ANS_EXPIMAGE!==''" ng-src="{{ANS_EXPIMAGE}}" onerror="this.src = 'backoffice/question_images/default.png'" alt="Explanation Image" style="width:110px; height:110px">
                </div>
                <div class="col-12 mt-2">
                  <b><u>EXPLANATION</u> : </b>
                  <div style="white-space: pre-line;">
                    {{ANS_EXPLANATION}}
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>

        <!-- #main -->
        <!-- <div ng-include='"include/footer.html"'></div> -->
        <!-- #colophon -->
    </div>
    <!-- #page -->
    <div class="backtotop">
        <a style="display: none;" id="to_top" href="#"></a>
    </div>
    <!-- Instagram Feed JS -->

    <link href="https://fonts.googleapis.com/css?family=Montserrat:500%7CRaleway:500%7CRoboto:400"
        rel="stylesheet" property="stylesheet" media="all" type="text/css">

        
    <link rel='stylesheet' id='photoswipe-css' href='css/photoswipe.min.css?ver=5.0.0'
        type='text/css' media='all' />
    <link rel='stylesheet' id='photoswipe-default-skin-css' href='css/default-skin.min.css?ver=5.0.0'
        type='text/css' media='all' />
    <link rel='stylesheet' id='tmpmela-responsive-css' href='css/responsive.css?ver=5.6.4'
        type='text/css' media='all' />
    <script type='text/javascript' src='js/jquery.selectBox.min.js?ver=3.2.0' id='jquery-selectBox-js'></script>
    <!-- <script type='text/javascript' src='js/jquery.yith-wcwl.min.js?ver=3.0.20' id='jquery-yith-wcwl-js'></script> -->
    <script type='text/javascript' src='js/scripts.js?ver=5.3.2' id='contact-form-7-js'></script>
    <script type='text/javascript' src='js/js.cookie.min.js?ver=2.1.4' id='js-cookie-js'></script>
    <script type='text/javascript' src='js/woocommerce.min.js?ver=5.0.0' id='woocommerce-js'></script>
    <script type='text/javascript' src='js/cart-fragments.min.js?ver=5.0.0' id='wc-cart-fragments-js'></script>
    <script type='text/javascript' src='js/woocompare.min.js?ver=2.4.5' id='yith-woocompare-main-js'></script>
    <script type='text/javascript' src='js/jquery.colorbox-min.js?ver=2.4.21' id='jquery-colorbox-js'></script>
    <script type='text/javascript' src='js/frontend.min.js?ver=2.4.9' id='yith-wcqv-frontend-js'></script>
    <script type='text/javascript' src='js/jquery.prettyPhoto.min.js?ver=3.1.6' id='prettyPhoto-js'></script>
    <script type='text/javascript' src='js/functions.js?ver=2014-02-01' id='tmpmela-script-js'></script>
    <script type='text/javascript' src='js/navigation.js?ver=2.0' id='tmpmela-navigation-js'></script>
    <script type='text/javascript' src='js/isotope.pkgd.min.js?ver=6.6.0' id='isotope-js'></script>
    <script type='text/javascript' src='js/wp-embed.min.js?ver=5.6.4' id='wp-embed-js'></script>
    <script type='text/javascript' src='js/js_composer_front.min.js?ver=6.6.0' id='wpb_composer_front_js-js'></script>
    <script type='text/javascript' src='js/underscore.min.js?ver=2.8.3' id='underscore-js'></script>
    <script type='text/javascript' src='js/wp-util.min.js?ver=5.6.4' id='wp-util-js'></script>
    <script type='text/javascript' src='js/add-to-cart-variation.min.js?ver=5.0.0' id='wc-add-to-cart-variation-js'></script>
    <script type='text/javascript' src='js/jquery.zoom.min.js?ver=2.7.21' id='zoom-js'></script>
    <script type='text/javascript' src='js/photoswipe.min.js?ver=4.1.1' id='photoswipe-js'></script>
    <script type='text/javascript' src='js/photoswipe-ui-default.min.js?ver=4.1.1' id='photoswipe-ui-default-js'></script>
    <script type='text/javascript' src='js/single-product.min.js?ver=5.0.0' id='wc-single-product-js'></script>


    <!--====== STICK DIV ======-->
    <script>
    jQuery(window).scroll(function(e){ 
      var $el = jQuery('.fixedElement'); 
      var isPositionFixed = ($el.css('position') == 'fixed');
      if (jQuery(this).scrollTop() > 100 && !isPositionFixed){ 
        $el.css({'position': 'fixed', 'top': '3px'}); 
      }
      if (jQuery(this).scrollTop() < 100 && isPositionFixed){
        $el.css({'position': 'static', 'top': '0px'}); 
      } 
    });
    </script>
    <!--====== STICK DIV ======-->
</body>
</html>
