<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="en">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<title>MyExamPrep</title>
<link href="../images/favicon1.png" rel="icon" />
<meta name="description" content="Personalized Tutoring" />
<script src="../js/jquery-2.1.1.min.js" type="text/javascript"></script>
<!-- <script src="../js/jquery-3.3.1.slim.min.js" type="text/javascript"></script> -->
<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="../css/magnific-popup.css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="../css/owl.carousel.min.css" rel="stylesheet">
<script src="../js/owl.carousel.min.js" type="text/javascript"></script>
<script src="../js/theme.js" type="text/javascript"></script>
<link href="../css/stylesheet.css?ver=2" rel="stylesheet">

<script src="../js/common.js" type="text/javascript"></script>
<script src="../js/popper.min.js" type="text/javascript"></script>
<script src="../js/support.js" type="text/javascript"></script>
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="../js/jquery.magnific-popup.min.js"></script>
<script src="../js/moment.min.js" type="text/javascript"></script>
<script src="../js/moment-with-locales.min.js" type="text/javascript"></script>
<script src="../js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<!-- <link href="../image/cart.png" rel="icon" /> -->

<!-- #Angular Js -->
<script src="../angular_js/angular.min.js" type="text/javascript"></script>
<script src="../angular_js/angular-route.js" type="text/javascript"></script>
<script src="../angular_js/angular-animate.js" type="text/javascript"></script>
<script src="../angular_js/angular-sanitize.js" type="text/javascript"></script>

<!-- Material Angular -->
<script src="../angular_js/material/angular-aria.min.js" type="text/javascript"></script>
<script src="../angular_js/material/angular-material.js" type="text/javascript"></script>
<link href="../angular_js/material/angular-material.css" rel="stylesheet" type="text/css" />

<!-- Pageing -->
<script src="../angular_js/dirPagination.js" type="text/javascript"></script>
<link href="../css/paging.css?ver=2" rel="stylesheet">

<script src="code/Home_Menu_Footer_Master.js?ver=2"></script>

<link rel="stylesheet" href="../css/OnPrint.css?ver=2">

<!-- Changes for Excel & Print addition-->

<style>
  .disableDiv{
    opacity: .7;
    pointer-events: none;
  }
</style>
</head>
<body data-ng-app="myApp" data-ng-controller="myCtrl" data-ng-init="init()" class="d-flex flex-column min-vh-100">
 
    
 <!-- Header -->
<div id="menu_wrapper"></div>
<header id="header" class="home d-print-none">
  <div ng-include="'include/header.html?ver=2'" class="d-print-none"></div>
</header>


  <div id="spin-wrapper"></div>
  <div id="siteloader" class="d-print-none">
      <div class="loader loader-1"></div>
  </div>


<!-- style="min-height: 600px;"  -->
	<div id="common-home">    
    <div class="content_middle">
        <section class="ishiproductsblock container mb-0">
          <div class="section-header">
            <h4 class="home-title"><span>HOME FOOTER MENU MASTER</span></h4>
          </div>

          <div class="row" style="text-align:left">
            <div class="col-sm-12 my-2">
              
              <div class="row">
                <!-- MENU -->
                <div class="col-12 col-lg-6" id="MENU_TAB">
                  <div class="bg-white card card-body rounded-my pt-2">
                    <h2 class="text-center mb-3"><u>MENU HEADING</u></h2>

                    <form novalidate name="MEPForm" class=" d-print-none" enctype="multipart/form-data" autocomplete="off">
                      <div class="row">
                        <div class="col-12 col-lg-6">
                          <div class="form-group">
                              <label for="txtHeading">Heading :<span class="text-danger">*</span></label>
                              <input type="text" class="form-control" id="txtHeading" data-ng-model="temp.txtHeading" placeholder="Type here..." autocomplete="off" required>
                          </div>
                        </div>
      
                        <div class="col-12 col-lg-3">
                          <div class="form-group">
                              <label for="txtSeqno">Sequence No. :<span class="text-danger">*</span></label>
                              <input type="number" min="0" class="form-control" id="txtSeqno" data-ng-model="temp.txtSeqno" placeholder="00" autocomplete="off" required>
                          </div>
                        </div>
      
                        <div class="col-12 col-lg-3">
                          <div class="form-group">
                              <label for="txtColor">Color :<span class="text-danger">*</span></label>
                              <input type="color" class="form-control py-0 px-1" id="txtColor" data-ng-model="temp.txtColor" autocomplete="off" required>
                          </div>
                        </div>
                      
                        <div class="col-md-12 col-lg-12 col-sm-12 d-flex align-items-end justify-content-center justify-content-lg-center py-0">
                          <div class="form-group mb-0">
                            <button ng-disabled="MEPForm.$invalid" data-ng-hide="temp.footid" data-ng-disabled="all" type="submit" class="btn btn-dark btn-sm btn-save" data-ng-click="save()">SAVE</button>
                            <button ng-disabled="MEPForm.$invalid" data-ng-hide="!temp.footid" class="btn btn-warning btn-sm btn-update" data-ng-click="save()">UPDATE</button>
                            <button class="btn btn-outline-danger btn-sm mr-1" data-ng-click="clear()">CLEAR</button>
                          </div>
                        </div>
                      </div>      
                    </form>
  
                    <div class="row">
                      <div class="col-md-12 col-lg-6 col-sm-12 d-print-none">
                        <div class="form-group mb-0">
                            <label class="font-weight-bold" for="txtSerarch">Search by Anything :</label>
                            <input type="search" class="form-control" id="txtSerarch" data-ng-model="temp.txtSerarch" placeholder="Type Here..." onfocus="select()" autocomplete="off" required>
                        </div>
                      </div> 
                      <div class="col-md-6 col-lg-6 col-sm-12 d-flex align-items-end justify-content-end py-1 d-print-none">
                        <button class="btn btn-success text-light btn-sm mx-1 exportToExcel">
                          <i class="fa fa-file-excel-o"></i>
                        </button>
                        <button class="btn btn-dark text-light btn-sm mx-1" ng-click="printTable('MENU')">
                          <i class="fa fa-print"></i>
                        </button>
                      </div>

                    </div> 
    
                    <div class="row d-print-none" ng-if="spinMenu">
                      <div class="col-12 text-center">
                        <div class="spinner-grow" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </div>
                    </div>

                    <div class="table-responsive table2excel">
                      <table class="table table-bordered table-hover bg-white table-sm">
                        <thead>
                          <tr>
                              <th>#</th>
                              <th>Heading</th>
                              <th>Sequence No.</th>
                              <th>Color</th>
                              <th class="noExl d-print-none text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-class="{'bg-dark text-white' : x.FOOTID == temp.footid}" title="{{x.FOOTID}}" 
                              ng-repeat="x in post.getMenuData | filter : temp.txtSerarch" ng-dblclick="edit(x)">
                              <td data-ng-bind="$index+1"></td>
                              <td ng-bind="x.HEADING"></td>
                              <td ng-bind="x.SEQNO"></td>
                              <td>
                                <i ng-style="{'color' : x.COLOR}" class="fa fa-circle font-20" aria-hidden="true"></i>
                              </td>
                              <td class="d-print-none text-center noExl">
                                <button title="Edit" ng-class="{'text-white' : x.FOOTID == temp.footid}" type="button" data-ng-click="edit(x)" class="btn btn-success btn-sm btn-round">
                                  <i class="fa fa-pencil"></i>
                                </button>
                                <button title="Delete" ng-class="{'text-white' : x.FOOTID == temp.footid}" type="button" data-ng-click="delete(x)" class="btn btn-danger btn-sm btn-round">
                                  <i class="fa fa-times"></i>
                                </button>
                              </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr ng-hide="post.getMenuData.length>0" class=" noExl d-print-none">
                            <td colspan="100%" class="text-center text-danger">No Records</td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>


                <!-- MENU ITEM -->
                <div class="col-12 col-lg-6" id="ITEM_TAB" ng-class="{'disableDiv': !temp.footid}">
                  <div class="bg-white card card-body rounded-my pt-2">
                    <h2 class="text-center mb-3"><u>MENU ITEM</u></h2>

                    <form novalidate name="MEPForm2" class=" d-print-none" enctype="multipart/form-data" autocomplete="off">
                      <div class="row">
                        <div class="col-12 col-lg-3">
                          <div class="form-group">
                            <label for="ddlProductResource">Product/Resource :<span class="text-danger">*</span></label>
                              <select class="form-control" id="ddlProductResource" data-ng-model="temp.ddlProductResource" ng-change="temp.ddlProduct='';temp.ddlResource=''" required>
                                <option class="select-bg-color" value="">-- SELECT --</option>
                                <option class="select-bg-color" value="PRODUCT">PRODUCT</option>
                                <option class="select-bg-color" value="RESOURCE">RESOURCE</option>
                              </select>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6" ng-show="temp.ddlProductResource=='PRODUCT'">
                          <div class="form-group">
                            <label for="ddlProduct">Product :<span class="text-danger">*</span> <i class="fa fa-spinner fa-spin" ng-if="spinPro" aria-hidden="true"></i></label>
                              <select class="form-control" id="ddlProduct" data-ng-model="temp.ddlProduct" ng-change="temp.ddlResource=''" ng-required="temp.ddlProductResource=='PRODUCT'">
                                <option class="select-bg-color" value="">-- SELECT --</option>
                                <option class="select-bg-color" ng-repeat="l in post.getProductDisplayWithoutLoc" value="{{l.PDMID}}" ng-bind="l.DISPLAY_PRODUCT"></option>
                              </select>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6" ng-show="temp.ddlProductResource=='RESOURCE'">
                          <div class="form-group">
                            <label for="ddlResource">Resource :<span class="text-danger">*</span> <i class="fa fa-spinner fa-spin" ng-if="spinRes" aria-hidden="true"></i></label>
                              <select class="form-control" id="ddlResource" data-ng-model="temp.ddlResource" ng-change="temp.ddlProduct=''" ng-required="temp.ddlProductResource=='RESOURCE'">
                                <option class="select-bg-color" value="">-- SELECT --</option>
                                <option class="select-bg-color" ng-repeat="l in post.getResources" value="{{l.ID}}" ng-bind="l.RESOURCE_CATEGORY_TEXT"></option>
                              </select>
                            </div>
                        </div>
      
                        <div class="col-12 col-lg-3">
                          <div class="form-group">
                              <label for="txtSeqno">Sequence No. :<span class="text-danger">*</span></label>
                              <input type="number" min="0" class="form-control" id="txtItemSeqno" data-ng-model="temp.txtItemSeqno" placeholder="00" autocomplete="off" required>
                          </div>
                        </div>

                        <div class="col-md-12 col-lg-2 col-sm-12">
                          <div class="form-group d-flex flex-column text-center">
                            <label for="txtDisplayColor" for="isHeader">Is Header?</label>
                            <input class="form-check-input largerCheckbox mx-auto" type="checkbox" id="isHeader" ng-model="temp.isHeader" ng-true-value="'1'" ng-false-value="'0'" ng-init="temp.isHeader='0'">
                          </div>
                        </div>
  
                        <div class="col-md-12 col-lg-4 col-sm-12" ng-show="temp.isHeader=='1'">
                          <div class="form-group">
                            <label for="txtHeader" class='text-nowrap'>Header :<span class="text-danger"></span></label>
                            <input type="text" class="form-control" id="txtHeader" data-ng-model="temp.txtHeader" placeholder="Type here..." onfocus="select()" autocomplete="off">
                          </div>
                        </div> 
                      
                        <div class="col-md-12 col-lg-4 col-sm-12 d-flex align-items-end justify-content-center justify-content-lg-start py-3">
                          <div class="form-group mb-0">
                            <button ng-disabled="MEPForm2.$invalid" data-ng-hide="temp.footdetid" data-ng-disabled="all" type="submit" class="btn btn-dark btn-sm btn-save-item" data-ng-click="saveItem()">SAVE</button>
                            <button ng-disabled="MEPForm2.$invalid" data-ng-hide="!temp.footdetid" class="btn btn-warning btn-sm btn-update-item" data-ng-click="saveItem()">UPDATE</button>
                            <button class="btn btn-outline-danger btn-sm mr-1" data-ng-click="clearItem()">CLEAR</button>
                          </div>
                        </div>
                      </div>      
                    </form>
  
                    <div class="row">
                      <div class="col-md-12 col-lg-6 col-sm-12 d-print-none">
                        <div class="form-group mb-0">
                            <label class="font-weight-bold" for="txtSerarchItem">Search by Anything :</label>
                            <input type="search" class="form-control" id="txtSerarchItem" data-ng-model="temp.txtSerarchItem" placeholder="Type Here..." onfocus="select()" autocomplete="off" required>
                        </div>
                      </div> 
                      <div class="col-md-6 col-lg-6 col-sm-12 d-flex align-items-end justify-content-end py-1 d-print-none">
                        <button class="btn btn-success text-light btn-sm mx-1 exportToExcelItem">
                          <i class="fa fa-file-excel-o"></i>
                        </button>
                        <button class="btn btn-dark text-light btn-sm mx-1"  ng-click="printTable('ITEM')">
                          <i class="fa fa-print"></i>
                        </button>
                      </div>

                    </div> 
    
                    <div class="row d-print-none" ng-if="spinItem">
                      <div class="col-12 text-center">
                        <div class="spinner-grow" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </div>
                    </div>

                    <div class="table-responsive table2excelItem">
                      <table class="table table-bordered table-hover bg-white table-sm">
                        <thead>
                          <tr>
                              <th>#</th>
                              <th>Product / Resource</th>
                              <th>Product / Resource Name</th>
                              <th>Sequence No.</th>
                              <th>Header?</th>
                              <th class="noExl d-print-none text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-class="{'bg-dark text-white' : x.FOOTDETID == temp.footdetid}" title="{{x.FOOTDETID}}" 
                              ng-repeat="x in post.getMenuItemData | filter : temp.txtSerarchItem" ng-dblclick="editItem(x)">
                              <td data-ng-bind="$index+1"></td>
                              <td ng-bind="x.PRODUCT_RESOURCE"></td>
                              <td ng-bind="x.PRODUCT_RESOURCE_NAME"></td>
                              <td ng-bind="x.SEQNO"></td>
                              <td>
                                <span ng-if="x.ISHEADER=='0'" class="text-danger">No</span>
                                <span ng-if="x.ISHEADER=='1'" ng-class="{'text-success': x.HEADER==''}" ng-bind="x.HEADER==''?'Yes':x.HEADER"></span>
                              </td>
                              <td class="d-print-none text-center noExl">
                                <button title="Edit" ng-class="{'text-white' : x.FOOTDETID == temp.footdetid}" type="button" data-ng-click="editItem(x)" class="btn btn-success btn-sm btn-round">
                                  <i class="fa fa-pencil"></i>
                                </button>
                                <button title="Delete" ng-class="{'text-white' : x.FOOTDETID == temp.footdetid}" type="button" data-ng-click="deleteItem(x)" class="btn btn-danger btn-sm btn-round">
                                  <i class="fa fa-times"></i>
                                </button>
                              </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr ng-hide="post.getMenuItemData.length>0" class=" noExl d-print-none">
                            <td colspan="100%" class="text-center text-danger">No Records</td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
      </section>
    </div>
	</div>
  <div id="_mobile_column_left" class="container d-print-none"></div>
  <div id="_mobile_column_right" class="container d-print-none"></div>

  <!--================== ALERT ==================-->
  <div class="d-flex justify-content-md-end justify-content-sm-center w-100 fixed-bottom p-2" id="myToastMain" style="bottom: -80px;">
    <div class="toast w-100 fade shadow-lg" role="alert" id="myToast" aria-live="assertive" aria-atomic="true" data-delay="5000">
      <div class="toast-header text-light">
        <strong class="mr-auto">Alert</strong>
        <small class="">just now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body alert-light">
        <samp class="font-weight-bold"></samp>
      </div>
    </div>
  </div>
  <!--================== ALERT ==================-->

  <div class="mt-auto d-print-none" ng-include="'include/footer.html?ver=2'"></div>

   <!-- ======= EXCEL ====== -->
<script src="../js/excel/jquery.table2excel.js" type="text/javascript"></script>
<script>
    $(function() {
        $(".exportToExcel").click(function(e){
          var table = $(this).prev('.table2excel'); // Update this selector to match your table class
          var preserveColors = (table.hasClass('table2excel_with_colors') ? true : false);
          var date = new Date();
          date = date.getDate()+"-"+(date.getMonth()+1)+"-"+date.getFullYear();
          $('.table2excel').table2excel({
              exclude: ".noExl",
              name: "Excel Document Name",
              filename: date + "_Home_Menu_Sheet.xls",
              fileext: ".xls",
              exclude_img: true,
              exclude_links: true,
              exclude_inputs: true,
              preserveColors: true
          });
        });
        $(".exportToExcelItem").click(function(e){
          var table = $(this).prev('.table2excelItem'); // Update this selector to match your table class
          var preserveColors = (table.hasClass('table2excel_with_colors') ? true : false);
          var date = new Date();
          date = date.getDate()+"-"+(date.getMonth()+1)+"-"+date.getFullYear();
          $('.table2excelItem').table2excel({
              exclude: ".noExl",
              name: "Excel Document Name",
              filename: date + "_Home_Menu_Items_Sheet.xls",
              fileext: ".xls",
              exclude_img: true,
              exclude_links: true,
              exclude_inputs: true,
              preserveColors: true
          });
        });
    });
</script>

</body></html>   