<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="en">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<title>MyExamPrep</title>
<link href="../images/favicon1.png" rel="icon" />
<meta name="description" content="Personalized Tutoring" />
<script src="../js/jquery-2.1.1.min.js" type="text/javascript"></script>
<!-- <script src="../js/jquery-3.3.1.slim.min.js" type="text/javascript"></script> -->
<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="../css/magnific-popup.css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="../css/owl.carousel.min.css" rel="stylesheet">
<script src="../js/owl.carousel.min.js" type="text/javascript"></script>
<script src="../js/theme.js" type="text/javascript"></script>
<link href="../css/stylesheet.css?ver=6" rel="stylesheet">



<script src="../js/common.js" type="text/javascript"></script>
<script src="../js/popper.min.js" type="text/javascript"></script>
<script src="../js/support.js" type="text/javascript"></script>
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="../js/jquery.magnific-popup.min.js"></script>
<script src="../js/moment.min.js" type="text/javascript"></script>
<script src="../js/moment-with-locales.min.js" type="text/javascript"></script>
<script src="../js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<!-- <link href="../image/cart.png" rel="icon" /> -->


<!-- #Angular Js -->
<script src="../angular_js/angular.min.js" type="text/javascript"></script>
<script src="../angular_js/angular-route.js" type="text/javascript"></script>
<script src="../angular_js/angular-animate.js" type="text/javascript"></script>
<script src="../angular_js/angular-sanitize.js" type="text/javascript"></script>

<!-- Material Angular -->
<script src="../angular_js/material/angular-aria.min.js" type="text/javascript"></script>
<script src="../angular_js/material/angular-material.js" type="text/javascript"></script>
<link href="../angular_js/material/angular-material.css" rel="stylesheet" type="text/css" />

<!-- Pageing -->
<script src="../angular_js/dirPagination.js" type="text/javascript"></script>
<link href="../css/paging.css?ver=6" rel="stylesheet">

<script src="code/MEP_Franchise_Buying_list.js?ver=6"></script>
</head>
<body data-ng-app="myApp" data-ng-controller="myCtrl" data-ng-init="init()" class="d-flex flex-column min-vh-100">
 
    

    <!-- Header -->
<div id="menu_wrapper"></div>
<header id="header" class="home">
      
  <div ng-include="'include/header.html?ver=6'"></div>
    
</header>


  <div id="spin-wrapper"></div>
  <div id="siteloader">
      <div class="loader loader-1"></div>
  </div>


<!-- style="min-height: 600px;"  -->
	<div id="common-home">    
    <div class="content_middle">
        <section class="ishiproductsblock container mb-0">
          <div class="section-header">
            <h4 class="home-title"><span>FRANCHISE BUYING LIST</span></h4>
          </div>

          <div class="row" style="text-align:left">
            <div class="col-sm-12 my-2">
              <form novalidate name="SLForm" class="bg-white card card-body rounded-my d-print-none" enctype="multipart/form-data" autocomplete="off">
                <div class="row">
                  <div class="col-md-4 col-lg-2 col-sm-12">
                    <div class="form-group">
                      <label for="ddlfLocation">Franchise Location :<span class="text-danger">*</span></label>
                      <select class="form-control" id="ddlfLocation" data-ng-model="temp.ddlfLocation">
                        <option class="select-bg-color" value="">-- SELECT --</option>
                        <option class="select-bg-color" ng-repeat="x in post.getfLocations" ng-bind="x.CODE_DETAIL_DESC" value="{{x.CODE_DETAIL_ID}}"></option>
                      </select>
                    </div>
                  </div>

                               
                  <div class="col-md-12 col-lg-2 col-sm-12">
                    <div class="form-group">
                        <label for="ddlItemctgy">Item Category:<span class="text-danger"></span></label>
                        <select class="form-control" id="ddlItemctgy" data-ng-model="temp.ddlItemctgy">
                          <option class="select-bg-color" value="">-- SELECT --</option>
                          <option class="select-bg-color" ng-repeat="x in post.getitemcategory"  ng-bind="x.CODE_DETAIL_DESC" value="{{x.CODE_DETAIL_ID}}"></option>
                        </select>
                    </div>
                  </div>


                  <div class="col-md-4 col-lg-2 col-sm-12">
                    <div class="form-group">
                        <label for="txtItemname">Item Name:<span class="text-danger"></span></label>
                        <input type="text" class="form-control" id="txtItemname" data-ng-model="temp.txtItemname" placeholder="Type here..." onfocus="select()" autocomplete="off" >
                    </div>
                  </div>

                  <div class="col-md-4 col-lg-2 col-sm-12">
                    <div class="form-group">
                        <label for="txtItemqnty">Item Quantity:<span class="text-danger"></span></label>
                        <input type="number" class="form-control" id="txtItemqnty" data-ng-model="temp.txtItemqnty" placeholder="Type here..." onfocus="select()" autocomplete="off" >
                    </div>
                  </div>
 
                  <div class="col-md-4 col-lg-2 col-sm-12">
                    <div class="form-group">
                        <label for="txtItemPrice">Item Unit Price:<span class="text-danger"></span></label>
                        <input type="number" class="form-control" id="txtItemPrice" data-ng-model="temp.txtItemPrice" placeholder="Type here..." onfocus="select()" autocomplete="off" >
                    </div>
                  </div>

                  <div class="col-md-12 col-lg-2 col-sm-12">
                    <div class="form-group">
                        <label for="ddlCurrency">Currency:<span class="text-danger"></span></label>
                        <select class="form-control" id="ddlCurrency" data-ng-model="temp.ddlCurrency">
                          <option class="select-bg-color" value="">-- SELECT --</option>
                          <option class="select-bg-color" ng-repeat="x in post.getCurrency"  ng-bind="x.CODE_DETAIL_DESC" value="{{x.CODE_DETAIL_ID}}"></option>
                        </select>
                    </div>
                  </div>

                  
                  <div class="col-md-4 col-lg-2 col-sm-12">
                    <div class="form-group">
                        <label for="txtitemmodel">Item Model:<span class="text-danger"></span></label>
                        <input type="text" class="form-control" id="txtitemmodel" data-ng-model="temp.txtitemmodel" placeholder="Type here..." onfocus="select()" autocomplete="off" >
                    </div>
                  </div>

                  <div class="col-md-12 col-lg-2 col-sm-12">
                    <div class="form-group">
                        <label for="ddlItemvendor">Item Vendor:<span class="text-danger"></span></label>
                        <select class="form-control" id="ddlItemvendor" data-ng-model="temp.ddlItemvendor">
                          <option class="select-bg-color" value="">-- SELECT --</option>
                          <option class="select-bg-color" ng-repeat="x in post.getItemvendor"  ng-bind="x.VENDOR" value="{{x.VENDORID}}"></option>
                        </select>
                    </div>
                  </div>


                  
                  
                  <div class="col-md-4 col-lg-2 col-sm-12">
                    <div class="form-group">
                        <label for="txtPlink1">Purchase Link1:<span class="text-danger"></span></label>
                        <input type="text" class="form-control" id="txtPlink1" data-ng-model="temp.txtPlink1" placeholder="Type here..." onfocus="select()" autocomplete="off" >
                    </div>
                  </div>

                  
                  <div class="col-md-4 col-lg-2 col-sm-12">
                    <div class="form-group">
                        <label for="txtPlink2">Purchase Link2:<span class="text-danger"></span></label>
                        <input type="text" class="form-control" id="txtPlink2" data-ng-model="temp.txtPlink2" placeholder="Type here..." onfocus="select()" autocomplete="off" >
                    </div>
                  </div>

                  <div class="col-md-12 col-lg-2 col-sm-12">
                    <div class="form-group">
                        <label for="ddlMastertask">Master Task?:<span class="text-danger"></span> <i class="fa fa-spin fa-spinner SpinBank" style="display:none;"></i></label>
                        <select class="form-control" id="ddlMastertask" data-ng-model="temp.ddlMastertask">
                          <option class="select-bg-color" value="">-- SELECT --</option>
                          <option class="select-bg-color" ng-repeat="x in post.getMastertask"  ng-bind="x.CODE_DETAIL_DESC" value="{{x.CODE_DETAIL_ID}}"></option>
                        </select>
                    </div>
                  </div>
                
                  <div class="col-md-12 col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label for="txtRemark">Remark :<span class="text-danger"></span></label>
                        <input type="text" class="form-control" id="txtRemark" data-ng-model="temp.txtRemark" placeholder="Type here..." onfocus="select()" autocomplete="off" >
                    </div>
                  </div>

                  
                  <div class="col-md-12 col-lg-2 col-sm-12 d-flex align-items-end py-3">
                    <button class="btn btn-outline-danger btn-sm mr-1" data-ng-click="clear()">CLEAR</button>
                    <button ng-disabled="SLForm.$invalid" data-ng-hide="temp.BUYING_LIST_ID" type="submit" class="btn btn-dark btn-sm btn-save" data-ng-click="save()">SAVE</button>
                    <button ng-disabled="SLForm.$invalid" data-ng-hide="!temp.BUYING_LIST_ID" class="btn btn-warning btn-sm btn-update" data-ng-click="save()">UPDATE</button>
                  </div>
                </div>
                  
              
                <div class="row m-0">
                    <div class="col-sm-6 px-0">
                        <div class="alert alert-success" style="display:none;"><span></span></div>
                        <div class="alert alert-danger" style="display:none;"><span></span></div>
                    </div>
                </div>
            </form>
      
            <div class="table-responsive pb-0 card card-body rounded-my mt-2">
              <div class="row d-print-none">
                <div class="col-md-4 col-lg-3 col-sm-12">
                  <div class="form-group mb-0">
                    <label class="font-weight-bold" for="txtSerarch">Search by Anything :</label>
                    <input type="text" class="form-control py-0" id="txtSerarch" data-ng-model="temp.txtSerarch" placeholder="Type Here..." onfocus="select()" autocomplete="off">
                  </div>
                </div>

                <div class="col-sm-12 col-md-8 col-lg-9 d-flex align-items-end py-3 justify-content-end">
                  <button class="btn btn-success text-light btn-sm mx-1 exportToExcel">
                    <i class="fa fa-file-excel-o pr-1"></i> Excel
                  </button>
                  <button class="btn btn-dark text-light btn-sm mx-1"  onclick="print()">
                    <i class="fa fa-print pr-1"></i> Print
                  </button>
                </div>
              </div> 

              <div class="row d-print-none" id="SpinMainData" style="display: none;">
                <div class="col-12 text-center">
                  <div class="spinner-grow" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <div class="spinner-grow" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <div class="spinner-grow" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </div>
              <table class="table table-bordered table-hover bg-white table-sm table2excel">
                  <tr>
                      <th>#</th>
                      <th>Franchise Location </i></th>
                      <th>Item Category</i></th>
                      <th>Item Name</i></th>
                      <th>Item Quantity</i></th>
                      <th>Item Unit Price</i></th>
                      <th>Currency</i></th>
                      <th>Item Model</i></th>
                      <th>Item Vendor</i></th>
                      <th>Purchase Link1</i></th>
                      <th>Purchase-Link2</i></th>
                      <th>Master Task?</i></th>
                      <th>Remarks</i></th>
                      <th class="noExl d-print-none">Action</th>
                  </tr>
                  <tr ng-class="{'bg-dark text-white' : x.BUYING_LIST_ID == temp.BUYING_LIST_ID}" ng-repeat="x in post.getItemData" ng-dblclick="edit(x)">
                      <td data-ng-bind="$index+1"></td>
                      <td ng-bind="x.FRANCHISE_lOCATION"></td>
                      <td ng-bind="x.ITEM_CATG_DESC"></td>
                      <td ng-bind="x.ITEM"></td>
                      <td ng-bind="x.ITEM_QUANTITY"></td>
                      <td ng-bind="x.ITEM_UNIT_PRICE"></td>
                      <td ng-bind="x.PRICE_CURRENCY"></td>
                      <td ng-bind="x.ITEM_MODEL"></td>
                      <td ng-bind="x.ITEM_VENDOR"></td>
                      <td ng-bind="x.PURCHASE_LINK1"></td>
                      <td ng-bind="x.PURCHASE_LINK2"></td>
                      <td ng-bind="x.MASTER_TASK_DESC"></td>
                       <td ng-bind="x.REMARKS"></td>

                      <td style="width:10%" class="noExl d-print-none">
                        <button title="Edit" ng-class="text-white" type="button" data-ng-click="edit(x)" class="btn btn-success btn-sm btn-round">
                          <i class="fa fa-pencil"></i>
                        </button>
                        <button title="Delete" ng-class="text-white" type="button" data-ng-click="delete(x)" class="btn btn-danger btn-sm btn-round">
                          <i class="fa fa-times"></i>
                        </button>
                      </td>
                  </tr>
                  <tr ng-hide="post.getItemData.length>0">
                    <td colspan="100%" class="text-center text-danger noExl">No Records</td>
                  </tr>
              </table>
            </div>
          </div>
        </div>
    </section>
  </div>
</div>
<div id="_mobile_column_left" class="container"></div>
<div id="_mobile_column_right" class="container"></div>

  <div class="mt-auto d-print-none" ng-include="'include/footer.html?ver=6'"></div>
<!-- ======= EXCEL ====== -->
<script src="../js/excel/jquery.table2excel.js" type="text/javascript"></script>
<script>
  $(function() {
      $(".exportToExcel").click(function(e){
        var table = $(this).prev('.table2excel');
        var preserveColors = (table.hasClass('table2excel_with_colors') ? true : false);
        var date = new Date();
        date = date.getDate()+"-"+(date.getMonth()+1)+"-"+date.getFullYear();
        $('.table2excel').table2excel({
            exclude: ".noExl",
            name: "Excel Document Name",
            filename: date + "_Mep_Franchise_Buying_List.xls",
            fileext: ".xls",
            exclude_img: true,
            exclude_links: true,
            exclude_inputs: true,
            preserveColors: preserveColors
        });
      });
  });
</script>
</body></html>   