<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="en">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<title>MyExamPrep</title>
<link href="../images/favicon1.png" rel="icon" />

<meta name="description" content="Personalized Tutoring" />
<script src="../js/jquery-2.1.1.min.js" type="text/javascript"></script>
<!-- <script src="../js/jquery-3.3.1.slim.min.js" type="text/javascript"></script> -->
<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="../css/magnific-popup.css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="../css/owl.carousel.min.css" rel="stylesheet">
<script src="../js/owl.carousel.min.js" type="text/javascript"></script>
<script src="../js/theme.js" type="text/javascript"></script>
<link href="../css/stylesheet.css" rel="stylesheet">



<script src="../js/common.js" type="text/javascript"></script>
<script src="../js/popper.min.js" type="text/javascript"></script>
<script src="../js/support.js" type="text/javascript"></script>
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="../js/jquery.magnific-popup.min.js"></script>
<script src="../js/moment.min.js" type="text/javascript"></script>
<script src="../js/moment-with-locales.min.js" type="text/javascript"></script>
<script src="../js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<!-- <link href="../image/cart.png" rel="icon" /> -->


<!-- #Angular Js -->
<script src="../angular_js/angular.min.js" type="text/javascript"></script>
<script src="../angular_js/angular-route.js" type="text/javascript"></script>
<script src="../angular_js/angular-animate.js" type="text/javascript"></script>
<script src="../angular_js/angular-sanitize.js" type="text/javascript"></script>

<!-- Material Angular -->
<script src="../angular_js/material/angular-aria.min.js" type="text/javascript"></script>
<script src="../angular_js/material/angular-material.js" type="text/javascript"></script>
<link href="../angular_js/material/angular-material.css" rel="stylesheet" type="text/css" />

<!-- Pageing -->
<script src="../angular_js/dirPagination.js" type="text/javascript"></script>
<link href="../css/paging.css" rel="stylesheet">

<script src="code/Reviews.js?ver=1.1"></script>
</head>
<body data-ng-app="myApp" data-ng-controller="myCtrl" data-ng-init="init()" class="d-flex flex-column min-vh-100">
 
    

    <!-- Header -->
<div id="menu_wrapper"></div>
<header id="header" class="home">
      
  <div ng-include="'include/header.html'"></div>
    
</header>


  <div id="spin-wrapper"></div>
  <div id="siteloader">
      <div class="loader loader-1"></div>
  </div>


	<div id="common-home">    
    <div class="content_middle">
        <section class="ishiproductsblock container mb-0">
          <div class="section-header">
            <h4 class="home-title mb-0"><span>Reviews</span></h4>
          </div>

          <div class="row" style="text-align:left">
            <div class="col-sm-12 my-2">
              <form novalidate name="Form" class="bg-white card card-body rounded-my" enctype="multipart/form-data" autocomplete="off">
                <div class="row">
                  <div class="col-md-12 col-lg-2 col-sm-12">
                    <div class="form-group">
                      <label for="ddlLocation">Location :<span class="text-danger">*</span> <i class="fa fa-spinner fa-spin ml-2 spinLoc" style="display: none;"></i></label>
                        <select class="form-control" id="ddlLocation" data-ng-model="temp.ddlLocation" ng-change="getStudentByLoc(); getLocReviewByLoc()" required>
                          <option class="select-bg-color" value="">-- SELECT --</option>
                          <option class="select-bg-color" ng-repeat="l in post.getLocations" value="{{l.LOC_ID}}" ng-bind="l.LOCATION"></option>
                        </select>
                      </div>
                  </div>
                    
                  <div class="col-md-12 col-lg-2 col-sm-12">
                    <div class="form-group">
                      <label for="ddlSTCategory">Student Category :<span class="text-danger">*</span> <i class="fa fa-spinner fa-spin ml-2 spinSubCat" style="display: none;"></i></label>
                        <select class="form-control" id="ddlSTCategory" data-ng-model="temp.ddlSTCategory" ng-change="temp.ddlStudent = ''; setStudentDetails()" required>
                          <option class="select-bg-color" value="">-- SELECT --</option>
                          <option class="select-bg-color" value="NON-REGISTERED">NON-REGISTERED</option>
                          <option class="select-bg-color" value="REGISTERED">REGISTERED</option>
                        </select>
                      </div>
                  </div>

                  <div class="col-md-4 col-lg-2 col-sm-12" ng-show="temp.ddlSTCategory === 'REGISTERED'">
                    <div class="form-group">
                      <label for="ddlStudent">Student :<span class="text-danger">*</span> <i class="fa fa-spinner fa-spin ml-2 spinUser" style="display: none;"></i></label>
                      <select class="form-control" id="ddlStudent" data-ng-model="temp.ddlStudent" ng-change="setStudentDetails()" autocomplete="off" 
                              data-ng-disabled="post.getStudentByLoc.length<=0 || !temp.ddlLocation">
                          <option value="">-- SELECT --</option>
                          <option ng-repeat="s in post.getStudentByLoc" value="{{s.REGID}}" ng-bind="s.FIRSTNAME +' '+s.LASTNAME">
                          </option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="col-md-4 col-lg-2 col-sm-12">
                    <div class="form-group">
                        <label for="txtFirstName">First Name :<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="txtFirstName" data-ng-model="temp.txtFirstName" placeholder="Type here..." onfocus="select()" autocomplete="off" required>
                    </div>
                  </div>

                  <div class="col-md-4 col-lg-2 col-sm-12">
                    <div class="form-group">
                        <label for="txtLastName">Last Name :<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="txtLastName" data-ng-model="temp.txtLastName" placeholder="Type here..." onfocus="select()" autocomplete="off" required>
                    </div>
                  </div>

                  <div class="col-md-12 col-lg-2 col-sm-12">
                    <div class="form-group">
                      <label for="ddlReviewBy">Review By :<span class="text-danger">*</span> <i class="fa fa-spinner fa-spin ml-2 spinSubCat" style="display: none;"></i></label>
                        <select class="form-control" id="ddlReviewBy" data-ng-model="temp.ddlReviewBy" ng-change="setReviewByDetails()" required>
                          <option class="select-bg-color" value="">-- SELECT --</option>
                          <option class="select-bg-color" value="SELF">SELF</option>
                          <option class="select-bg-color" value="PARENT1">PARENT 1</option>
                          <option class="select-bg-color" value="PARENT2">PARENT 2</option>
                        </select>
                      </div>
                  </div>

                  <div class="col-md-4 col-lg-2 col-sm-12">
                    <div class="form-group">
                        <label for="txtReviewByName">Review By Name :<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="txtReviewByName" data-ng-model="temp.txtReviewByName" placeholder="Type here..." onfocus="select()" autocomplete="off" required>
                    </div>
                  </div>
                  
                  <div class="col-md-4 col-lg-2 col-sm-12">
                    <div class="form-group">
                        <label for="txtPhone">Phone :</label>
                        <input type="text" maxlength="20" class="form-control" id="txtPhone" data-ng-model="temp.txtPhone" placeholder="Type here..." onfocus="select()" autocomplete="off">
                    </div>
                  </div>
                  
                  <div class="col-md-4 col-lg-2 col-sm-12">
                    <div class="form-group">
                      <label for="txtEmail">Email :</label>
                      <input type="email" class="form-control" id="txtEmail" data-ng-model="temp.txtEmail" placeholder="Type here..." onfocus="select()" autocomplete="off">
                    </div>
                  </div>

                  <div class="col-md-4 col-lg-2 col-sm-12">
                    <div class="form-group">
                      <label for="ddlLocReview">Location Review : <i class="fa fa-spinner fa-spin ml-2 spinLocRevi" style="display: none;"></i></label>
                      <select class="form-control" id="ddlLocReview" data-ng-model="temp.ddlLocReview" autocomplete="off" data-ng-disabled="post.getLocReviewByLoc.length<=0 || !temp.ddlLocation">
                          <option value="">-- SELECT --</option>
                          <option ng-repeat="r in post.getLocReviewByLoc" value="{{r.REVID}}" ng-bind="r.REVIEWMEDIA">
                          </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-8 col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label for="txtComment">Comment :<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="txtComment" data-ng-model="temp.txtComment" placeholder="Type here..." onfocus="select()" autocomplete="off" required>
                    </div>
                  </div>

                  <div class="col-md-4 col-lg-2 col-sm-12">
                    <div class="form-group">
                      <label for="ddlStatus">Status : <span class="text-danger">*</span></label>
                      <select class="form-control" id="ddlStatus" data-ng-model="temp.ddlStatus" autocomplete="off" required>
                          <option value="">-- SELECT --</option>
                          <option ng-repeat="s in Status" value="{{s}}" ng-bind="s"></option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-6 col-lg-2 col-sm-12 d-flex align-items-end">
                    <div class="form-group">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input largerCheckbox" type="checkbox" data-ng-model="temp.ShowInHome" data-ng-init="temp.ShowInHome=false" id="ShowInHome" value="false">
                        <label class="form-check-label pointer noselect" for="ShowInHome">Show in Homepage</label>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-lg-2 col-sm-12">
                    <div class="form-group">
                        <label for="txtReviewDT">Review Date :<span ng-show="temp.ShowInHome" class="text-danger">*</span></label>
                        <input type="date" class="form-control" id="txtReviewDT" data-ng-model="temp.txtReviewDT" onfocus="select()" autocomplete="off" ng-required="temp.ShowInHome">
                    </div>
                  </div>
                  
                  <div class="col-md-6 col-lg-4 col-sm-12">
                    <div class="form-group">
                        <label for="txtReview">Review :<span ng-show="temp.ShowInHome" class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="txtReview" data-ng-model="temp.txtReview" placeholder="Type here..." onfocus="select()" autocomplete="off" ng-required="temp.ShowInHome">
                    </div>
                  </div>
                  
                  <div class="col-md-4 col-lg-2 col-sm-12 d-flex align-items-end py-3 justify-content-center justify-content-md-start">
                    <button class="btn btn-outline-danger btn-sm mr-1" data-ng-click="clearForm()">CLEAR</button>
                    <button ng-disabled="Form.$invalid" data-ng-hide="temp.rvid" data-ng-disabled="all" type="submit" class="btn btn-dark btn-sm btn-save" data-ng-click="saveData()">SAVE</button>
                    <button ng-disabled="Form.$invalid" data-ng-hide="!temp.rvid" class="btn btn-warning btn-sm btn-update" data-ng-click="saveData()">UPDATE</button>
                  </div>

            
                </div>


                <!-- <div class="row">
                  <div class="col-md-12 col-lg-12 col-sm-12 text-center">
                  </div>
                </div> -->
                    
                
                <!-- <div class="row">
                    <div class="col-sm-6 px-0">
                        <div class="alert alert-success mt-2 mx-auto" style="display:none;"><span></span></div>
                        <div class="alert alert-danger mt-2 mx-auto" style="display:none;"><span></span></div>
                    </div>
                </div> -->
              </form>
        


              <!--================== TABLE ==================-->
              <div class="table-responsive pb-0 card card-body rounded-my mt-2">
                <div class="row">
                  <div class="col-md-4 col-lg-3 col-sm-12">
                    <div class="form-group mb-0">
                      <label class="font-weight-bold" for="txtSerarch">Search by Anything :</label>
                      <input type="text" class="form-control py-0" id="txtSerarch" data-ng-model="temp.txtSerarch" placeholder="Type Here..." onfocus="select()" autocomplete="off" required>
                    </div>
                  </div>

                  <div class="col-md-4 col-lg-2 col-sm-12">
                    <div class="form-group">
                      <label for="ddlSearchStatus">Status :</label>
                      <select class="form-control" id="ddlSearchStatus" data-ng-model="temp.ddlSearchStatus" autocomplete="off" required>
                          <option value="">-- SELECT --</option>
                          <option ng-repeat="s in Status" value="{{s}}" ng-bind="s"></option>
                      </select>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-4 col-lg-7 d-flex align-items-end py-3 justify-content-end">
                    <button class="btn btn-success text-light btn-sm mx-1 exportToExcel">
                      <i class="fa fa-file-excel-o pr-1"></i> Excel
                    </button>
                  </div>
                </div> 
                <div class="row" id="SpinnerReviews" style="display: none;">
                  <div class="col-12 text-center">
                    <div class="spinner-grow" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <div class="spinner-grow" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                </div>
                <table class="table table-bordered table-hover bg-white table-sm mt-0 table2excel">
                  <thead>
                    <tr class="bg-light">
                        <th>#</th>
                        <th>Location</th>
                        <th>Stuent Category</th>
                        <th>Name</th>
                        <th>ReviewBy</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Loc Review</th>
                        <th>Comment</th>
                        <th>Status</th>
                        <th class="text-center">In Homepage</th>
                        <th>Review</th>
                        <th class="noExl">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-class="{'bg-dark text-white' : x.RVID == temp.rvid}" title="{{x.RVID}}" 
                        ng-repeat="x in post.getReviews | filter : temp.txtSerarch" 
                        ng-dblclick="editForm(x)">
                        <td data-ng-bind="$index+1"></td>
                        <td ng-bind="x.LOCATION"> </td>
                        <td ng-bind="x.STUDENT_CATEGORY"></td>
                        <td ng-bind="x.FIRSTNAME +' '+x.LASTNAME"></td>
                        <td>
                          <div>
                            <span ng-bind="x.REVIEW_BY +' : '"></span>
                            <span ng-bind="x.REVIEWBY_NAME"></span>
                          </div>
                        </td>
                        <td ng-bind="x.PHONE?x.PHONE:'&#8212;'"></td>
                        <td ng-bind="x.EMAIL?x.EMAIL:'&#8212;'"></td>
                        <td>
                          <a href="{{x.REVIEWLINK}}" class="text-primary" target="_blank" title="x.REVIEWMEDIA" ng-bind="x.REVIEWMEDIA"></a>
                        </td>
                        <td ng-bind="x.COMMENTS_GIVEN"></td>
                        <td ng-bind="(x.STATUS && x.STATUS!='') ? x.STATUS : '&#8212;'"></td>
                        <td class="text-center"><i class="fa font-20" ng-class="x.SHOW_IN_HOMEPAGE == 1 ? 'fa-home' : 'fa-ban text-black-50'"></i></td>
                        <td>
                          <div ng-show="x.SHOW_IN_HOMEPAGE==1">
                            <div class="text-nowrap">(<b data-ng-bind="x.REVIEW_DATE"></b>)</div>
                            <div><span data-ng-bind="x.REVIEW"></span></div>
                          </div>
                          <span data-ng-hide="x.SHOW_IN_HOMEPAGE==1">&#8212;</span>
                        </td>
                        <td style="width:10%" class="noExl">
                          <button title="Edit" ng-class="{'text-white' : x.RVID == temp.rvid}" type="button" data-ng-click="editForm(x)" class="btn btn-success btn-sm btn-round">
                            <i class="fa fa-pencil"></i>
                          </button>
                          <button title="Delete" ng-class="{'text-white' : x.RVID == temp.rvid}" type="button" data-ng-click="delete(x)" class="btn btn-danger btn-sm btn-round">
                            <i class="fa fa-times"></i>
                          </button>
                        </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr ng-hide="post.getReviews.length>0">
                      <td colspan="100%" class="text-center text-danger noExl">No Records</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <!--================== TABLE ==================-->

            </div>
          </div>
      </section>
    </div>
	</div>
  <div id="_mobile_column_left" class="container"></div>
  <div id="_mobile_column_right" class="container"></div>



  <!--================== ALERT ==================-->
  <div class="d-flex justify-content-md-end justify-content-sm-center w-100 fixed-bottom p-2" id="myToastMain" style="bottom: -80px;">
    <div class="toast w-100 fade shadow-lg" role="alert" id="myToast" aria-live="assertive" aria-atomic="true" data-delay="5000">
      <div class="toast-header text-light">
        <strong class="mr-auto">Alert</strong>
        <small class="">just now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body alert-light">
        <samp class="font-weight-bold"></samp>
      </div>
    </div>
  </div>
<!--================== ALERT ==================-->

  <div class="mt-auto" ng-include="'include/footer.html'"></div>

  <script src="../js/excel/jquery.table2excel.js" type="text/javascript"></script>
  <script>
    $(function() {
        $(".exportToExcel").click(function(e){
          var table = $(this).prev('.table2excel');
          var preserveColors = (table.hasClass('table2excel_with_colors') ? true : false);
          var date = new Date();
          date = date.getDate()+"-"+(date.getMonth()+1)+"-"+date.getFullYear();
          $('.table2excel').table2excel({
              exclude: ".noExl",
              name: "Excel Document Name",
              filename: date + "_REVIEWS.xls",
              fileext: ".xls",
              exclude_img: true,
              exclude_links: true,
              exclude_inputs: true,
              preserveColors: preserveColors
          });
            
        });
        
    });
  </script>
</body></html>   