<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="en">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<title>PragatiWeb</title>

<meta name="description" content="Personalized Tutoring" />
<script src="../js/jquery-2.1.1.min.js" type="text/javascript"></script>
<!-- <script src="../js/jquery-3.3.1.slim.min.js" type="text/javascript"></script> -->
<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="../css/magnific-popup.css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="../css/owl.carousel.min.css" rel="stylesheet">
<script src="../js/owl.carousel.min.js" type="text/javascript"></script>
<script src="../js/theme.js" type="text/javascript"></script>
<link href="../css/stylesheet.css" rel="stylesheet">



<script src="../js/common.js" type="text/javascript"></script>
<script src="../js/popper.min.js" type="text/javascript"></script>
<script src="../js/support.js" type="text/javascript"></script>
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="../js/jquery.magnific-popup.min.js"></script>
<script src="../js/moment.min.js" type="text/javascript"></script>
<script src="../js/moment-with-locales.min.js" type="text/javascript"></script>
<script src="../js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<!-- <link href="../image/cart.png" rel="icon" /> -->


<!-- #Angular Js -->
<script src="../angular_js/angular.min.js" type="text/javascript"></script>
<script src="../angular_js/angular-route.js" type="text/javascript"></script>
<script src="../angular_js/angular-animate.js" type="text/javascript"></script>
<script src="../angular_js/angular-sanitize.js" type="text/javascript"></script>

<!-- Material Angular -->
<script src="../angular_js/material/angular-aria.min.js" type="text/javascript"></script>
<script src="../angular_js/material/angular-material.js" type="text/javascript"></script>
<link href="../angular_js/material/angular-material.css" rel="stylesheet" type="text/css" />

<!-- Pageing -->
<script src="../angular_js/dirPagination.js" type="text/javascript"></script>
<link href="../css/paging.css" rel="stylesheet">
<link href="../css/table-sort.css?ver=3" rel="stylesheet" type="text/css">

<script src="code/SCH_Employee_Master.js?101020211253"></script>


<script src="../js/excel/jquery.table2excel.js" type="text/javascript"></script>

<link rel="stylesheet" href="../css/OnPrint.css?ver=11">



</head>
<body data-ng-app="myApp" data-ng-controller="myCtrl" data-ng-init="init()" class="d-flex flex-column min-vh-100">
 
    

  
    <!-- Header -->
<div id="menu_wrapper"></div>
<header id="header" class="home d-print-none">
      
  <div ng-include="'include/header.html?ver=10'" class="d-print-none"></div>
    
</header>


  
  <div id="spin-wrapper" ></div>
  <div id="siteloader" class="d-print-none">
        <div class="loader loader-1"></div>
  </div>



	<div id="common-home">    
    <div class="content_middle">
        <section class="ishiproductsblock container mb-0">
          <div class="section-header">
            <h4 class="home-title"><span>Employee Master</span></h4>
          </div>

          <div class="row" style="text-align:left">
            <div class="col-sm-12 my-2">
              
              <form novalidate name="PMForm" class="bg-white card card-body rounded-my d-print-none" enctype="multipart/form-data" autocomplete="off">
                
                 <!-- School Name-->
                <div class="row">
                  <div class="col-md-12 col-lg-2 col-sm-12">
                    <div class="form-group">
                       <label for="TEXT_SCHOOL_ID">School :<span class="text-danger">*</span> <i class="fa fa-spin fa-spinner SpinBank" style="display:none;"></i></label>
                        <select class="form-control" id="TEXT_SCHOOL_ID" data-ng-model="temp.TEXT_SCHOOL_ID" ng-change="getQuery()"  required>
                          <option class="select-bg-color" value="">-- SELECT --</option>
                          <option class="select-bg-color" ng-repeat="x in post.getschoolname"  ng-bind="x.SCHOOL_NAME" value="{{x.SCHOOL_ID}}"></option>
                        </select>
                      </div>
                  </div>
                
           
                  <div class="col-md-12 col-lg-2 col-sm-12">
                    <div class="form-group">
                        <label for="TEXT_EMPLOYEE_NAME">Employee Name :<span class="text-danger"></span></label>
                        <input type="text" class="form-control" id="TEXT_EMPLOYEE_NAME" data-ng-model="temp.TEXT_EMPLOYEE_NAME" placeholder="Type here..." onfocus="select()" autocomplete="off"  data-ng-model-options="{ getterSetter: true }" required>
                    </div>
                  </div>

                  <div class="col-md-12 col-lg-2 col-sm-12" ng-show="isFieldVisible('TEXT_EMPLOYEE_CODE')">
                    <div class="form-group">
                        <label for="TEXT_EMPLOYEE_CODE">Employee Code :<span class="text-danger"></span></label>
                        <input type="text" class="form-control" id="TEXT_EMPLOYEE_CODE" data-ng-model="temp.TEXT_EMPLOYEE_CODE" placeholder="Type here..." onfocus="select()" autocomplete="off"  data-ng-model-options="{ getterSetter: true }" >
                    </div>
                  </div>
                              
                  <div class="col-md-12 col-lg-2 col-sm-12">
                    <div class="form-group">
                        <label for="TEXT_DOB">DOB <Noscript></Noscript> :<span class="text-danger"></span></label>
                        <input type="date" class="form-control" id="TEXT_DOB" data-ng-model="temp.TEXT_DOB" placeholder="Type here..." onfocus="select()" autocomplete="off"  data-ng-model-options="{ getterSetter: true }" >
                    </div>
                  </div>
                  
                  
                  <div class="col-md-12 col-lg-2 col-sm-12" >
                    <div class="form-group">
                                               
                        <label for="TEXT_GENDER_CD">Gender : <i class="fa fa-spin fa-spinner SpinBank" style="display:none;"></i></label>
                        <select class="form-control" id="TEXT_GENDER_CD" data-ng-model="temp.TEXT_GENDER_CD" >
                          <option class="select-bg-color" value="">-- SELECT --</option>
                          <option class="select-bg-color" ng-repeat="x in post.getGender"  ng-bind="x.CODE_DETAIL_DESC" value="{{x.CODE_DETAIL_ID}}"></option>
                        </select>
 
                    </div>
                  </div>
              
                  <div class="col-md-12 col-lg-2 col-sm-12" >
                    <div class="form-group">
                        <label for="TEXT_FATHER_HUSBAND_NAME">Father/Husband's Name <Noscript></Noscript> :<span class="text-danger"></span></label>
                        <input type="text" class="form-control" id="TEXT_FATHER_HUSBAND_NAME" data-ng-model="temp.TEXT_FATHER_HUSBAND_NAME" placeholder="Type here..." onfocus="select()" autocomplete="off"  data-ng-model-options="{ getterSetter: true }" >
                    </div>
                  </div>

                  <div class="col-md-12 col-lg-2 col-sm-12" ng-show="isFieldVisible('TEXT_MOTHER_NAME')">
                    <div class="form-group">
                        <label for="TEXT_MOTHER_NAME">Mother's Name <Noscript></Noscript> :<span class="text-danger"></span></label>
                        <input type="text" class="form-control" id="TEXT_MOTHER_NAME" data-ng-model="temp.TEXT_MOTHER_NAME" placeholder="Type here..." onfocus="select()" autocomplete="off"  data-ng-model-options="{ getterSetter: true }" >
                    </div>
                  </div>


                  <div class="col-md-12 col-lg-2 col-sm-12" ng-show="isFieldVisible('TEXT_NATIONALITY_CD')">
                    <div class="form-group">
                                               
                        <label for="TEXT_NATIONALITY_CD">Nationality : <i class="fa fa-spin fa-spinner SpinBank" style="display:none;"></i></label>
                        <select class="form-control" id="TEXT_NATIONALITY_CD" data-ng-model="temp.TEXT_NATIONALITY_CD" >
                          <option class="select-bg-color" value="">-- SELECT --</option>
                          <option class="select-bg-color" ng-repeat="x in post.getNationality"  ng-bind="x.CODE_DETAIL_DESC" value="{{x.CODE_DETAIL_ID}}"></option>
                        </select>
 
                    </div>
                  </div>


                  <div class="col-md-12 col-lg-2 col-sm-12" >
                    <div class="form-group">
                        <label for="TEXT_DATE_OF_JOINING">Date Of Joining<Noscript></Noscript> :<span class="text-danger"></span></label>
                        <input type="date" class="form-control" id="TEXT_DATE_OF_JOINING" data-ng-model="temp.TEXT_DATE_OF_JOINING" placeholder="Type here..." onfocus="select()" autocomplete="off"  data-ng-model-options="{ getterSetter: true }" >
                    </div>
                  </div>

                 
                                    
                  <div class="col-md-12 col-lg-3 col-sm-12">
                    <div class="form-group">
                        <label for="TEXT_ADDRESS1">Address-1<Noscript></Noscript> :<span class="text-danger"></span></label>
                        <input type="text" class="form-control" id="TEXT_ADDRESS1" data-ng-model="temp.TEXT_ADDRESS1" placeholder="Type here..." onfocus="select()" autocomplete="off"  data-ng-model-options="{ getterSetter: true }" >
                    </div>
                  </div>

                  <div class="col-md-12 col-lg-3 col-sm-12" ng-show="isFieldVisible('TEXT_ADDRESS2')">
                    <div class="form-group">
                        <label for="TEXT_ADDRESS2">Address-2<Noscript></Noscript> :<span class="text-danger"></span></label>
                        <input type="text" class="form-control" id="TEXT_ADDRESS2" data-ng-model="temp.TEXT_ADDRESS2" placeholder="Type here..." onfocus="select()" autocomplete="off"  data-ng-model-options="{ getterSetter: true }" >
                    </div>
                  </div>
 

                  <div class="col-md-12 col-lg-2 col-sm-12" >
                    <div class="form-group">
                    <label for="TEXT_COUNTRY_ID">Country:<span class="text-danger"></span><i class="fa fa-spin fa-spinner SpinBank" style="display:none;"></i></label>
                        <select class="form-control" id="TEXT_COUNTRY_ID" data-ng-model="temp.TEXT_COUNTRY_ID" ng-change="getState()" data-ng-click="getState()"   >
                          <option class="select-bg-color" value="">-- SELECT --</option>
                          <option class="select-bg-color" ng-repeat="x in post.getCountry"  ng-bind="x.COUNTRY" value="{{x.COUNTRYID}}"></option>
                        </select> 
                   </div>
                  </div>

                
                <div class="col-md-12 col-lg-2 col-sm-12" >
                    <div class="form-group">
                    <label for="TEXT_STATE_ID">State:<span class="text-danger"></span><i class="fa fa-spin fa-spinner SpinBank" style="display:none;"></i></label>
                        <select class="form-control" id="TEXT_STATE_ID" data-ng-model="temp.TEXT_STATE_ID"  ng-change="getCity()" data-ng-click="getCity"   >
                          <option class="select-bg-color" value="">-- SELECT --</option>
                          <option class="select-bg-color" ng-repeat="x in post.getState"  ng-bind="x.STATE_NAME" value="{{x.STATE_ID}}"></option>
                        </select>
                   </div>
                  </div>
                
                
                  <div class="col-md-12 col-lg-2 col-sm-12" >
                    <div class="form-group">
                    <label for="TEXT_CITY_ID">City:<span class="text-danger"></span><i class="fa fa-spin fa-spinner SpinBank" style="display:none;"></i></label>
                        <select class="form-control" id="TEXT_CITY_ID" data-ng-model="temp.TEXT_CITY_ID" >
                          <option class="select-bg-color" value="">-- SELECT --</option>
                          <option class="select-bg-color" ng-repeat="x in post.getCity" ng-bind="x.CITY_NAME" value="{{x.CITY_ID}}"></option>
                        </select>
                   </div>
                  </div>
                                   
                  
                  <div class="col-md-12 col-lg-2 col-sm-12" >
                    <div class="form-group">
                        <label for="TEXT_ZIP_CD">Pincode<Noscript></Noscript> :<span class="text-danger"></span></label>
                        <input type="text" class="form-control" id="TEXT_ZIP_CD" data-ng-model="temp.TEXT_ZIP_CD" placeholder="Type here..." onfocus="select()" autocomplete="off"  data-ng-model-options="{ getterSetter: true }" >
                    </div>
                  </div>

                  <div class="col-md-12 col-lg-2 col-sm-12" ng-show="isFieldVisible('TEXT_EMPLOYEE_MOBILE_NO')">
                    <div class="form-group">
                        <label for="TEXT_EMPLOYEE_MOBILE_NO">Employee Mobile No<Noscript></Noscript> :<span class="text-danger"></span></label>
                        <input type="text" class="form-control" id="TEXT_EMPLOYEE_MOBILE_NO" data-ng-model="temp.TEXT_EMPLOYEE_MOBILE_NO" placeholder="Type here..." onfocus="select()" autocomplete="off"  data-ng-model-options="{ getterSetter: true }" >
                    </div>
                  </div>

                                 

                  <div class="col-md-12 col-lg-2 col-sm-12" ng-show="isFieldVisible('TEXT_UID')">
                    <div class="form-group">
                        <label for="TEXT_UID">UID<Noscript></Noscript> :<span class="text-danger"></span></label>
                        <input type="text" class="form-control" id="TEXT_UID" data-ng-model="temp.TEXT_UID" placeholder="Type here..." onfocus="select()" autocomplete="off"  data-ng-model-options="{ getterSetter: true }" >
                    </div>
                  </div>

                  
                  <div class="col-md-12 col-lg-2 col-sm-12" ng-show="isFieldVisible('TEXT_EMPLOYEE_EMAIL_ID')">
                    <div class="form-group">
                        <label for="TEXT_EMPLOYEE_EMAIL_ID">Employee Email Id<Noscript></Noscript> :<span class="text-danger"></span></label>
                        <input type="text" class="form-control" id="TEXT_EMPLOYEE_EMAIL_ID" data-ng-model="temp.TEXT_EMPLOYEE_EMAIL_ID" placeholder="Type here..." onfocus="select()" autocomplete="off"  data-ng-model-options="{ getterSetter: true }" >
                    </div>
                  </div>

                

                   <div class="col-md-12 col-lg-2 col-sm-12" ng-show="isFieldVisible('TEXT_DESIGNATION_CD')">
                    <div class="form-group">
                                               
                        <label for="TEXT_DESIGNATION_CD">Designation : <i class="fa fa-spin fa-spinner SpinBank" style="display:none;"></i></label>
                        <select class="form-control" id="TEXT_DESIGNATION_CD" data-ng-model="temp.TEXT_DESIGNATION_CD" >
                          <option class="select-bg-color" value="">-- SELECT --</option>
                          <option class="select-bg-color" ng-repeat="x in post.getDesignation"  ng-bind="x.CODE_DETAIL_DESC" value="{{x.CODE_DETAIL_ID}}"></option>
                        </select>
 
                    </div>
                  </div>

                  <div class="col-md-12 col-lg-2 col-sm-12" ng-show="isFieldVisible('TEXT_DEPARTMENT_CD')">
                    <div class="form-group">
                                               
                        <label for="TEXT_DEPARTMENT_CD">Department: <i class="fa fa-spin fa-spinner SpinBank" style="display:none;"></i></label>
                        <select class="form-control" id="TEXT_DEPARTMENT_CD" data-ng-model="temp.TEXT_DEPARTMENT_CD" >
                          <option class="select-bg-color" value="">-- SELECT --</option>
                          <option class="select-bg-color" ng-repeat="x in post.getDepartment"  ng-bind="x.CODE_DETAIL_DESC" value="{{x.CODE_DETAIL_ID}}"></option>
                        </select>
 
                    </div>
                  </div>


                  <div class="col-md-12 col-lg-2 col-sm-12" ng-show="isFieldVisible('TEXT_BANK_CD')" >
                    <div class="form-group">
                    <label for="TEXT_BANK_CD">Bank Name:<span class="text-danger"></span><i class="fa fa-spin fa-spinner SpinBank" style="display:none;"></i></label>
                        <select class="form-control" id="TEXT_BANK_CD" data-ng-model="temp.TEXT_BANK_CD" >
                          <option class="select-bg-color" value="">-- SELECT --</option>
                          <option class="select-bg-color" ng-repeat="x in post.getBank"  ng-bind="x.BANKNAME" value="{{x.BANKID}}"></option>
                        </select>
                   </div>
                  </div>


                   <div class="col-md-12 col-lg-2 col-sm-12" ng-show="isFieldVisible('TEXT_BANK_ACCOUNT_NO')">
                    <div class="form-group">
                        <label for="TEXT_BANK_ACCOUNT_NO">Bank Account No<Noscript></Noscript> :<span class="text-danger"></span></label>
                        <input type="text" class="form-control" id="TEXT_BANK_ACCOUNT_NO" data-ng-model="temp.TEXT_BANK_ACCOUNT_NO" placeholder="Type here..." onfocus="select()" autocomplete="off"  data-ng-model-options="{ getterSetter: true }" >
                    </div>
                  </div>
                
                  <div class="col-md-12 col-lg-2 col-sm-12" ng-show="isFieldVisible('TEXT_BANK_BRANCH')">
                    <div class="form-group">
                        <label for="TEXT_BANK_BRANCH">Bank Branch<Noscript></Noscript> :<span class="text-danger"></span></label>
                        <input type="text" class="form-control" id="TEXT_BANK_BRANCH" data-ng-model="temp.TEXT_BANK_BRANCH" placeholder="Type here..." onfocus="select()" autocomplete="off"  data-ng-model-options="{ getterSetter: true }" >
                    </div>
                  </div>

                  <div class="col-md-12 col-lg-2 col-sm-12" ng-show="isFieldVisible('TEXT_BANK_IFSC_CODE')">
                    <div class="form-group">
                        <label for="TEXT_BANK_IFSC_CODE">Branch IFSC Code<Noscript></Noscript> :<span class="text-danger"></span></label>
                        <input type="text" class="form-control" id="TEXT_BANK_IFSC_CODE" data-ng-model="temp.TEXT_BANK_IFSC_CODE" placeholder="Type here..." onfocus="select()" autocomplete="off"  data-ng-model-options="{ getterSetter: true }" >
                    </div>
                  </div>
                                               

                  <div class="col-md-12 col-lg-2 col-sm-12" >
                    <div class="form-group">
                        <label for="TEXT_DATE_OF_LEAVING">Date of Leaving :</label>
                        <input type="date" class="form-control" id="TEXT_DATE_OF_LEAVING" data-ng-model="temp.TEXT_DATE_OF_LEAVING" placeholder="Type here..." onfocus="select()" autocomplete="off" >
                    </div>
                  </div>
                    
                  
                  
                  <div class="col-md-12 col-lg-3 col-sm-12 d-flex align-items-end py-3">
                    <button class="btn btn-outline-danger btn-sm mr-1" data-ng-click="clear()">CLEAR</button>
                    <button ng-disabled="PMForm.$invalid" data-ng-hide="temp.pmid" data-ng-disabled="all" type="submit" class="btn btn-dark btn-sm btn-save" data-ng-click="save()">SAVE</button>
                    <button ng-disabled="PMForm.$invalid" data-ng-hide="!temp.pmid" class="btn btn-warning btn-sm btn-update" data-ng-click="save()">UPDATE</button>
                  </div>
                </div>
                   
                                   
                <div class="row m-0">
                    <div class="col-sm-6 px-0">
                        <div class="alert alert-success" style="display:none;"><span></span></div>
                        <div class="alert alert-danger" style="display:none;"><span></span></div>
                    </div>
                </div>
              </form>
        
              <div class="table-responsive pb-0 card card-body rounded-my mt-2">
                <div class="row">
                  <div class="col-md-12 col-lg-3 col-sm-12 d-print-none">
                    <div class="form-group">
                        <label class="font-weight-bold" for="txtSerarch">Search by Anything :</label>
                        <input type="text" class="form-control" id="txtSerarch" data-ng-model="temp.txtSerarch" placeholder="Type Here..." onfocus="select()" autocomplete="off" >
                    </div>
                  </div>
                 
                  <div class="col-md-6 col-lg-9 col-sm-12 d-flex align-items-end justify-content-end py-3 d-print-none">
                    <button class="btn btn-success text-light btn-sm mx-1 exportToExcel">
                      <i class="fa fa-file-excel-o pr-1"></i> Excel
                    </button>
                    <button class="btn btn-dark text-light btn-sm mx-1"  onclick="print()">
                      <i class="fa fa-print pr-1"></i> Print
                    </button>
                  </div>
                  
                </div> 
                <table class="table table-bordered table-hover bg-white table-sm table2excel table-sort" ng-init="myOrderBY=''" >
                    <tr>
                        <th>#</th>
                        <th>Employee Id</th>
                        <th>Employee Name/Employee Code</th>
                        <th>Father/Husband/Mother Name</th>
                        <th>DOB/Date of Joining</th>
                        <th>Address</th>
                        <th>Mobile No/Email Id</th>
                        <th>UID</th>
                   
                        <th>Action</th>
                    </tr>
                   

                    <tr ng-class="{'bg-dark text-white' : x.EMPLOYEE_ID == temp.pmid}" title="{{x.EMPLOYEE_ID}}" ng-repeat="x in List=(post.getQuery | filter : temp.txtSerarch)" ng-dblclick="edit(x)">
                        <td data-ng-bind="$index+1"></td>
                        <td ng-bind="x.EMPLOYEE_ID"></td>
                        <td>
                          <div><b class="text-muted">Employee Name: </b><span ng-bind="x.EMPLOYEE_NAME"></span></div>
                          <div><b class="text-muted">Employee Code: </b><span ng-bind="x.EMPLOYEE_CODE"></span></div>
                        </td>
                        <td>
                          <div><b class="text-muted">Father/Husband's Name: </b><span ng-bind="x.FATHER_HUSBAND_NAME"></span></div>
                          <div><b class="text-muted">Mother's Name: </b><span ng-bind="x.MOTHER_NAME"></span></div>
                        </td>
                        <td>
                          <div><b class="text-muted">DOB: </b><span ng-bind="x.DOB"></span></div>
                          <div><b class="text-muted">Date of Joining: </b><span ng-bind="x.DATE_OF_JOINING"></span></div>
                        </td>
                        
                        <td ng-bind="x.ADDRESS1"></td>
                       
                        <td>
                          <div><b class="text-muted">Mobile No: </b><span ng-bind="x.EMPLOYEE_MOBILE_NO"></span></div>
                          <div><b class="text-muted">Email Id: </b><span ng-bind="x.EMPLOYEE_EMAIL_ID"></span></div>
                        </td>

                        <td ng-bind="x.UID"></td>

                        <td style="width:10%" class="d-print-none">
                                                  
                          <button title="Edit" ng-class="{'text-white' : x.EMPLOYEE_ID == temp.pmid}" type="button" data-ng-click="edit(x)" class="btn btn-success btn-sm btn-round" data-toggle="dropdown">
                            <i class="fa fa-pencil"></i>
                          </button>
                          <button title="Delete" ng-class="{'text-white' : x.EMPLOYEE_ID == temp.pmid}" type="button" data-ng-click="delete(x)" class="btn btn-danger btn-sm btn-round" data-toggle="dropdown">
                            <i class="fa fa-times"></i>
                          </button>
                        
                        </td>
                    </tr>
                    <tr ng-hide="List.length>0" class="d-print-none noExl">
                      <td colspan="100%" class="text-center text-danger">No Records</td>
                    </tr>
                </table>
                
              </div>
            </div>
          </div>
      </section>
    </div>
	</div>
  <div id="_mobile_column_left" class="container"></div>
  <div id="_mobile_column_right" class="container"></div>


  <div class="mt-auto" ng-include="'include/footer.html'"></div>
<!-- Changes for Excel & Print addition -->
<script>
    $(function() {
        $(".exportToExcel").click(function(e){
          var table = $('.table-sm'); // Update this selector to match your table class
          var preserveColors = (table.hasClass('table2excel_with_colors') ? true : false);
          var date = new Date();
          date = date.getDate()+"-"+(date.getMonth()+1)+"-"+date.getFullYear();
              table.table2excel({
              exclude: ".noExl",
              name: "Excel Document Name",
              filename: date + "_Employee Master_Sheet.xls",
              fileext: ".xls",
              exclude_img: true,
              exclude_links: true,
              exclude_inputs: true,
              preserveColors: true
          });
        });
    });
</script>
<!-- Changes for Excel & Print addition -->


</body></html>   