<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="en">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<title>MyExamPrep</title>
<link href="../images/favicon1.png" rel="icon" />
<meta name="description" content="Personalized Tutoring" />
<script src="../js/jquery-2.1.1.min.js" type="text/javascript"></script>
<!-- <script src="../js/jquery-3.3.1.slim.min.js" type="text/javascript"></script> -->
<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen" />
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="../css/magnific-popup.css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<!-- <link href="../css/owl.carousel.min.css" rel="stylesheet">
<script src="../js/owl.carousel.min.js" type="text/javascript"></script> -->
<script src="../js/theme.js" type="text/javascript"></script>
<link href="../css/stylesheet.css" rel="stylesheet">
<!-- Country Flags -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw==" crossorigin="anonymous" referrerpolicy="no-referrer" />



<script src="../js/common.js" type="text/javascript"></script>
<script src="../js/popper.min.js" type="text/javascript"></script>
<script src="../js/support.js" type="text/javascript"></script>
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<!-- <script src="../js/jquery.magnific-popup.min.js"></script> -->
<!-- <script src="../js/moment.min.js" type="text/javascript"></script> -->
<!-- <script src="../js/moment-with-locales.min.js" type="text/javascript"></script> -->
<!-- <script src="../js/bootstrap-datetimepicker.min.js" type="text/javascript"></script> -->
<!-- <link href="../image/cart.png" rel="icon" /> -->


<!-- #Angular Js -->
<script src="../angular_js/angular.min.js" type="text/javascript"></script>
<!-- <script src="../angular_js/angular-route.js" type="text/javascript"></script> -->
<!-- <script src="../angular_js/angular-animate.js" type="text/javascript"></script> -->
<script src="../angular_js/angular-sanitize.js" type="text/javascript"></script>

<!-- Material Angular -->
<!-- <script src="../angular_js/material/angular-aria.min.js" type="text/javascript"></script>
<script src="../angular_js/material/angular-material.js" type="text/javascript"></script> -->
<link href="../angular_js/material/angular-material.css" rel="stylesheet" type="text/css" />

<!-- Multiselect -->
<script src="../js/lodash.min.js"></script>
<script src="../js/multiselectDropdown/dist/angularjs-dropdown-multiselect.min.js"></script>
<link rel="stylesheet" href="../css/multiSelect.css">
<link rel="stylesheet" href="../css/bootstrap-glyphicons.css">

<!-- Pageing -->
<script src="../angular_js/dirPagination.js" type="text/javascript"></script>
<link href="../css/paging.css?ver=11_28062024" rel="stylesheet">

<script src="code/Student_Lowest_Test_Score_Report.js?ver=11_28062024"></script>
</head>
<body data-ng-app="myApp" data-ng-controller="myCtrl" data-ng-init="init()" class="d-flex flex-column min-vh-100">
 
    

    <!-- Header -->
<div id="menu_wrapper"></div>
<header id="header" class="home">
      
  <div ng-include="'include/header.html?ver=11_28062024'"></div>
    
</header>


  <div id="spin-wrapper"></div>
  <div id="siteloader">
      <div class="loader loader-1"></div>
  </div>



  <div class="container-fluid px-4">
    
  </div>

<!--  style="min-height: 600px;" -->
	<div id="common-home">    
    <div class="content_middle">
        <section class="ishiproductsblock container mb-0">
          <div class="section-header">
            <h4 class="home-title"><span>STUDENT LOWEST TEST SCORE</span></h4>
          </div>


          <form class="card card-body rounded-my">
            <div class="row">
              <div class="col-md-12 col-lg-2 col-sm-12">
                <div class="form-group">
                  <label for="ddlLocation">Location :<span class="text-danger">*</span></label>
                    <select class="form-control" id="ddlLocation" data-ng-model="temp.ddlLocation" ng-change="getStudentTest()" required>
                      <option class="select-bg-color" value="">-- SELECT --</option>
                      <option class="select-bg-color" ng-repeat="l in post.getLocations | orderBy:'LOCATION'" value="{{l.LOC_ID}}" ng-bind="l.LOCATION"></option>
                    </select>
                  </div>
              </div>

              <div class="col-md-4 col-lg-2 col-sm-12">
                <div class="form-group">
                    <label for="txtFromDT">From :<span class="text-danger">*</span></label>
                    <input type="date" class="form-control mr-md-4 mr-0" id="txtFromDT" data-ng-model="temp.txtFromDT" placeholder="Type here..." 
                    onfocus="select()" autocomplete="off" required>
                </div>
              </div>
              
              <div class="col-md-4 col-lg-2 col-sm-12">
                <div class="form-group">
                    <label for="txtToDT">To :<span class="text-danger">*</span></label>
                    <input type="date" class="form-control mr-md-4 mr-0" id="txtToDT" data-ng-model="temp.txtToDT" placeholder="Type here..." 
                    onfocus="select()" autocomplete="off" required>
                </div>
              </div>

              <div class="col-sm-12 col-md-12 col-lg-2">
                <div class="form-group">
                  <label for="PLANS" class='text-nowrap'>Plan : <span class="text-danger">*</span> <i class="fa fa-spinner fa-spin ml-2 spinPlan" style="display: none;"></i></label>
                  <div ng-dropdown-multiselect="" id="PLANS" options="post.getPlan" selected-model="PLANS_model"
                      extra-settings="PLANS_settings"  events="{onSelectionChanged: getStudentByPlanProduct}"></div>
                </div>
              </div>

              <div class="col-sm-12 col-md-12 col-lg-2">
                <div class="form-group">
                  <label for="STUDENTS" class='text-nowrap'>Student : <span class="text-danger">*</span> <i class="fa fa-spinner fa-spin ml-2 spinStudent" style="display: none;"></i></label>
                  <div ng-dropdown-multiselect="" id="STUDENTS" options="post.getStudentByPlanProduct" selected-model="STUDENTS_model" 
                      extra-settings="STUDENTS_settings" ></div>
                </div>
              </div>

              <div class="col-md-4 col-lg-2 col-sm-12 d-flex align-items-end py-3">
                <button class="btn btn-secondary btn-get" ng-click="getStudentTest()">GET <i class="ml-2 fa fa-spinner fa-spin spinMainData" style="display: none;"></i></button>
              </div>
            </div>
          </form>

          <div class="row" style="text-align:left">
            <div class="col-sm-12 my-2">
              <div class="card card-body rounded-my pb-0 my-2">
                <div class="row">
                  <div class="col-md-12 col-lg-3 col-sm-12">
                    <!-- <div class="form-group">
                        <label class="font-weight-bold" for="txtSerarch">Search by Anything :</label>
                        <input type="text" class="form-control" id="txtSerarch" data-ng-model="temp.txtSerarch" placeholder="Type Here..." onfocus="select()" autocomplete="off" required>
                    </div> -->
                  </div>

                  <div class="col-md-12 col-lg-9 col-sm-12">
                    <button class="btn btn-success pull-right text-light btn-sm mr-1 exportToExcel">
                      <i class="fa fa-file-excel-o pr-1"></i> Excel
                    </button>
                  </div>
                </div>

                <div bind-html-compile="post.getStudentTestScore"></div> 
                
              </div>
            </div>
          </div>
      </section>
    </div>
	</div>
  <div id="_mobile_column_left" class="container"></div>
  <div id="_mobile_column_right" class="container"></div>

  <!--================== ALERT ==================-->
  <div class="d-flex justify-content-md-end justify-content-sm-center w-100 fixed-bottom p-2" id="myToastMain" style="bottom: -80px;">
    <div class="toast w-100 fade shadow-lg" role="alert" id="myToast" aria-live="assertive" aria-atomic="true" data-delay="5000">
      <div class="toast-header text-light">
        <strong class="mr-auto">Alert</strong>
        <small class="">just now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body alert-light">
        <samp class="font-weight-bold"></samp>
      </div>
    </div>
  </div>
  <!--================== ALERT ==================-->


  <div class="mt-auto" ng-include="'include/footer.html?ver=11_28062024'"></div>

<!-- MULTI SELECT -->
<script>
  $(document).ready(function() { 
    $("#PLANS,#STUDENTS").find('div').css({'width':'100%'});
    $("#PLANS,#STUDENTS").find('button').addClass('btn-block');
    // $('.dropdown-toggle').attr('disabled','disabled');
  });
</script>
<!-- MULTI SELECT -->

<script src="../js/excel/jquery.table2excel.js" type="text/javascript"></script>

<script>
  $(function() {
      $(".exportToExcel").click(function(e){
        var table = $(this).prev('.table2excel');
        var preserveColors = (table.hasClass('table2excel_with_colors') ? true : false);
        var date = new Date();
        date = date.getDate()+"-"+(date.getMonth()+1)+"-"+date.getFullYear();
        $('.table2excel').table2excel({
            exclude: ".noExl",
            name: "Excel Document Name",
            filename: date + "_Student_Tests_Report_Sheet.xls",
            fileext: ".xls",
            exclude_img: true,
            exclude_links: true,
            exclude_inputs: true,
            preserveColors: preserveColors
        });
          
      });
      
  });
</script>

</body></html>   