<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
  <html dir="ltr" lang="en">
    <!--<![endif]-->
    <head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<link href="../images/favicon1.png" rel="icon" />
<title>MyExamPrep</title>
<!-- <base href="http://localhost:8080/myexamsprep/backoffice/" /> -->
<meta name="description" content="Personalized Tutoring" />
<script src="../js/jquery-2.1.1.min.js" type="text/javascript"></script>
<!-- <script src="../js/jquery-3.3.1.slim.min.js" type="text/javascript"></script> -->
<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen" />
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="../css/magnific-popup.css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="../css/owl.carousel.min.css" rel="stylesheet">
<script src="../js/owl.carousel.min.js" type="text/javascript"></script>
<script src="../js/theme.js" type="text/javascript"></script>
<link href="../css/stylesheet.css?ver=4" rel="stylesheet">



<script src="../js/common.js" type="text/javascript"></script>
<script src="../js/popper.min.js" type="text/javascript"></script>
<script src="../js/support.js" type="text/javascript"></script>
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="../js/jquery.magnific-popup.min.js"></script>
<script src="../js/moment.min.js" type="text/javascript"></script>
<script src="../js/moment-with-locales.min.js" type="text/javascript"></script>
<script src="../js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>


<!-- #Angular Js -->
<script src="../angular_js/angular.min.js" type="text/javascript"></script>
<script src="../angular_js/angular-route.js" type="text/javascript"></script>
<script src="../angular_js/angular-animate.js" type="text/javascript"></script>
<script src="../angular_js/angular-sanitize.js" type="text/javascript"></script>

<!-- Material Angular -->
<script src="../angular_js/material/angular-aria.min.js" type="text/javascript"></script>
<script src="../angular_js/material/angular-material.js" type="text/javascript"></script>
<link href="../angular_js/material/angular-material.css" rel="stylesheet" type="text/css" />

<!-- Pageing -->
<script src="../angular_js/dirPagination.js" type="text/javascript"></script>
<link href="../css/paging.css" rel="stylesheet">

<!-- Multiselect -->
<script src="../js/lodash.min.js"></script>
<script src="../js/multiselectDropdown/dist/angularjs-dropdown-multiselect.min.js"></script>
<link rel="stylesheet" href="../css/multiSelect.css">
<link rel="stylesheet" href="../css/bootstrap-glyphicons.css">

<script src="code/Student_SMS.js?ver=4"></script>

<!-- ON PRINT -->
<link rel="stylesheet" href="../css/OnPrint.css?ver=4">
</head>
<body data-ng-app="myApp" data-ng-controller="myCtrl" data-ng-init="init()" class="d-flex flex-column min-vh-100">
 
    

    <!-- Header -->
<div id="menu_wrapper"></div>
<header id="header" class="home">
      
  <div ng-include="'include/header.html?ver=4'"></div>
    
</header>


  <div id="spin-wrapper"></div>
  <div id="siteloader">
      <div class="loader loader-1"></div>
  </div>


	<div id="common-home">    
    <div class="content_middle">
        <section class="ishiproductsblock container mb-0">
          <div class="section-header">
            <h4 class="home-title mb-0"><span>Student SMS / EMAIL</span></h4>
          </div>

          <div class="row" style="text-align:left">
            <div class="col-sm-12 my-2 d-print-none">
              <div class="bg-white card card-body rounded-my">
                <!-- ADD COURSE COVERAGE START -->
                <form novalidate name="Form" enctype="multipart/form-data" autocomplete="off">
                  <div class="row">
                    
                    <div class="col-md-4 col-lg-2 col-sm-12">
                      <div class="form-group">
                        <label for="ddlStudentType">Student Type :<span class="text-danger">*</span></label>
                        <select class="form-control" id="ddlStudentType" data-ng-model="temp.ddlStudentType" ng-change="clearBYStudentType()" autocomplete="off" required>
                          <option value="">--Select Type--</option>
                          <option value="Registered">Registered</option>
                          <option value="Non-Registered">Non-Registered</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-2" ng-show="temp.ddlStudentType === 'Registered'">
                      <div class="form-group">
                        <label for="PLANS" class='text-nowrap'>Plan : <span class="text-danger">*</span> <i class="fa fa-spinner fa-spin ml-2 spinPlan" style="display: none;"></i></label>
                        <div ng-dropdown-multiselect="" id="PLANS" options="post.getPlan" selected-model="PLANS_model"
                            extra-settings="PLANS_settings"  events="{onSelectionChanged: getStudentByPlanProduct}"></div>
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-2" ng-show="temp.ddlStudentType === 'Registered'">
                      <div class="form-group">
                        <label for="CLASSOF" class='text-nowrap'>Class of : <span class="text-danger">*</span> <i class="fa fa-spinner fa-spin ml-2 spinClassof" style="display: none;"></i></label>
                        <div ng-dropdown-multiselect="" id="CLASSOF" options="post.Classof" selected-model="CLASSOF_model"
                            extra-settings="CLASSOF_settings"  events="{onSelectionChanged: getStudentByPlanProduct}"></div>
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-2" ng-show="temp.ddlStudentType === 'Registered'">
                      <div class="form-group">
                        <label for="SUBJECT" class='text-nowrap'>Subject : <span class="text-danger">*</span> <i class="fa fa-spinner fa-spin ml-2 spinSubject" style="display: none;"></i></label>
                        <div ng-dropdown-multiselect="" id="SUBJECT" options="post.Subject" selected-model="SUBJECT_model"
                            extra-settings="SUBJECT_settings"  events="{onSelectionChanged: getStudentByPlanProduct}"></div>
                      </div>
                    </div>

                    <!-- <div class="col-sm-12 col-md-12 col-lg-2" ng-show="temp.ddlStudentType === 'Registered'">
                      <div class="form-group">
                        <label for="PRODUCTS" class='text-nowrap'>Product : <span class="text-danger">*</span> <i class="fa fa-spinner fa-spin ml-2 spinPlanProduct" style="display: none;"></i></label>
                        <div ng-dropdown-multiselect="" id="PRODUCTS" options="post.getPlanProduct" selected-model="PRODUCTS_model"
                            extra-settings="PRODUCTS_settings"  events="{onSelectionChanged: getStudentByPlanProduct}"></div>
                      </div>
                    </div> -->

                    <div class="col-sm-12 col-md-12 col-lg-2" ng-show="temp.ddlStudentType === 'Registered'">
                      <div class="form-group">
                        <label for="STUDENTS" class='text-nowrap'>Student : <span class="text-danger">*</span> <i class="fa fa-spinner fa-spin ml-2 spinStudent" style="display: none;"></i></label>
                        <div ng-dropdown-multiselect="" id="STUDENTS" options="post.getStudentByPlanProduct" selected-model="STUDENTS_model" 
                            extra-settings="STUDENTS_settings" events="{onSelectionChanged: addRemoveStudents}"></div>
                      </div>
                    </div>
                    
                    <div class="col-md-12 col-lg-2 col-sm-12" ng-show="temp.ddlStudentType === 'Non-Registered'">
                      <div class="form-group">
                          <label for="txtFirstName" class="text-nowrap">First Name : <span class="text-danger">*</span> </label>
                          <input type="text" class="form-control" id="txtFirstName" data-ng-model="temp.txtFirstName" ng-required="temp.ddlStudentType === 'Non-Registered'" placeholder="Type here..." autocomplete="off">
                      </div>
                    </div>
                    
                    <div class="col-md-12 col-lg-2 col-sm-12" ng-show="temp.ddlStudentType === 'Non-Registered'">
                      <div class="form-group">
                          <label for="txtLastName" class="text-nowrap">Last Name :</label>
                          <input type="text" class="form-control" id="txtLastName" data-ng-model="temp.txtLastName" placeholder="Type here..." autocomplete="off">
                      </div>
                    </div>
                    
                    <div class="col-md-12 col-lg-2 col-sm-12" ng-show="temp.ddlStudentType === 'Non-Registered'">
                      <div class="form-group">
                          <label for="txtMobile" class="text-nowrap">Mobile : (For SMS)</label>
                          <input type="text" class="form-control" id="txtMobile" data-ng-model="temp.txtMobile" placeholder="Type here..." autocomplete="off">
                      </div>
                    </div>

                    <div class="col-md-12 col-lg-2 col-sm-12" ng-show="temp.ddlStudentType === 'Non-Registered'">
                      <div class="form-group">
                          <label for="txtEmail" class="text-nowrap">Email : (For EMAIL)</label>
                          <input type="email" class="form-control" id="txtEmail" data-ng-model="temp.txtEmail" placeholder="Type here..." autocomplete="off">
                      </div>
                    </div>
                  </div>

                  <!-- {{STUDENTS_model.length}} -->

                  <!-- SHOW TABLE STAUDENTS START -->
                  <div class="row" ng-show="STUDENT_LIST.length>0">
                    <div class="col-sm-12 col-md-12 col-lg-8 mb-4">
                      <div class="table-responsive custom-scrollbar Sticky-table-head-foot border-bottom border-top" style="max-height: 300px; min-height: 300px;">
                        <table class="table table-sm table-bordered table-striped mb-0">
                          <thead class="bg-light">
                            <tr class="bg-light">
                              <th>#</th>
                              <th>Student</th>
                              <th>Parent</th>
                              <th class="">Number For Sms</th>
                              <th class="">Email-ID For Email</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="x in STUDENT_LIST">
                              <td data-ng-bind="$index+1"></td>
                              <td>
                                <div ng-bind="x.label"></div>
                                <div ng-hide="!x.PHONE || x.PHONE == ''"><b>P : </b><span ng-bind="x.PHONE"></span></div>
                                <div ng-hide="!x.EMAIL || x.EMAIL == ''"><b>E : </b><span ng-bind="x.EMAIL"></span></div>
                              </td>
                              <td>
                                <div ng-hide="!x.PARENT1 || x.PARENT1 == ' '" >
                                  <span ng-bind="'P1 : '+x.PARENT1 "></span>
                                  <span ng-hide="!x.P1_PHONE || x.P1_PHONE == ''"  ng-bind="' | '+x.P1_PHONE "></span>
                                  <span ng-hide="!x.P1_EMAIL || x.P1_EMAIL == ''"  ng-bind="' | '+x.P1_EMAIL "></span>
                                </div>
                                <div ng-hide="!x.PARENT2 || x.PARENT2 == ' '">
                                  <span ng-bind="'P2 : '+x.PARENT2"></span>
                                  <span ng-hide="!x.P2_PHONE || x.P2_PHONE == ''"  ng-bind="' | '+x.P2_PHONE "></span>
                                  <span ng-hide="!x.P2_EMAIL || x.P2_EMAIL == ''"  ng-bind="' | '+x.P2_EMAIL "></span>
                                </div>
                              </td>
                              <td class="font-weight-bold" ng-bind="x.FINAL_PHONE"></td>
                              <td class="font-weight-bold" ng-bind="x.FINAL_EMAIL"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- SHOW TABLE STAUDENTS END -->






                  <div class="row">
                    <div class="col-md-12 col-lg-6 col-sm-12">
                      <div class="form-group">
                          <label for="txtMessage" class="text-nowrap">Message : <span class="text-danger">*</span></label>
                          <textarea type="text" class="form-control" id="txtMessage" data-ng-model="temp.txtMessage"  rows="5" placeholder="Type here..." autocomplete="off" >
                          </textarea>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-sm-12">
                      <div class="form-group">
                        <label for="txtAttachment" class="text-nowrap">Attachment <b>(For Email)</b> : </label><b class="ml-3 font-17 text-danger pointer" onClick="angular.element('#txtAttachment').val(null);"><i class="fa fa-times"></i></b>
                        <input type="file" class="form-control-file" name="txtAttachment" id="txtAttachment" data-ng-model="temp.txtAttachment" 
                        accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf, image/*" 
                        onchange="angular.element(this).scope().AttachmentFileName(this)" autocomplete="off">
                      </div>
                    </div>
                  </div>
                </form>
                <!-- ADD COURSE COVERAGE END -->


                  <div class="row mt-3">
                    <div class="col-md-4 col-lg-12 col-sm-12 d-flex align-items-end py-0 justify-content-center">
                      <button ng-disabled="Form.$invalid" data-ng-hide="temp.sccid" data-ng-disabled="all" type="submit" class="btn btn-info btn-sm btn-saveSms mx-1" data-ng-click="saveData('SMS')"><i class="fa fa-comments font-15"></i> SEND SMS</button>
                      <button ng-disabled="Form.$invalid" data-ng-hide="temp.sccid" data-ng-disabled="all" type="submit" class="btn btn-primary-my btn-sm btn-saveEmail mx-1" data-ng-click="saveData('EMAIL')"><i class=" fa fa-envelope font-15"></i> SEND EMAIL</button>
                      <button class="btn btn-outline-danger btn-sm mx-1" data-ng-click="clearForm()">CLEAR</button>
                    </div>
                  </div>
              
              </div>
            </div>


            

            <div class="col-12 d-flex justify-content-center d-print-none">
              <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item mx-2" role="presentation">
                  <button class="nav-link active" id="pills-sms-tab" data-toggle="pill" data-target="#pills-sms" type="button" role="tab" aria-controls="pills-settled" aria-selected="true">SMS</button>
                </li>
                <li class="nav-item mx-2" role="presentation">
                  <button class="nav-link" id="pills-email-tab" data-toggle="pill" data-target="#pills-email" type="button" role="tab" aria-controls="pills-unsettled" aria-selected="false">EMAIL</button>
                </li>
              </ul>
            </div>



            <div class="col-sm-12 my-2">
              <div class="tab-content" id="pills-tabContent">
                <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
                <!--================== SMS TABLE ==================-->
                <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
                <div class="tab-pane fade show active" id="pills-sms" role="tabpanel" aria-labelledby="pills-sms-tab">
                  <div class="table-responsive pb-0 card card-body rounded-my mt-2">
                    <div class="row d-print-none">
                      <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="form-group mb-0">
                          <label class="font-weight-bold" for="txtSerarch">Search by Anything :</label>
                          <input type="text" class="form-control py-0" id="txtSerarch" data-ng-model="temp.txtSerarch" placeholder="Type Here..." onfocus="select()" autocomplete="off" required>
                        </div>
                      </div>
                      <div class="col-md-4 col-lg-2 col-sm-12">
                        <div class="form-group mb-0">
                          <label class="font-weight-bold" for="txtFromDT">From :</label>
                          <input type="date" class="form-control py-0" id="txtFromDT" ng-change="getMSGHistory()" data-ng-model="temp.txtFromDT"  onfocus="select()" autocomplete="off" required>
                        </div>
                      </div>
                      <div class="col-md-4 col-lg-2 col-sm-12">
                        <div class="form-group mb-0">
                          <label class="font-weight-bold" for="txtToDT">To :</label>
                          <input type="date" class="form-control py-0" id="txtToDT" ng-change="getMSGHistory()" data-ng-model="temp.txtToDT"  onfocus="select()" autocomplete="off" required>
                        </div>
                      </div>
    
                      <div class="col-sm-12 col-md-4 col-lg-5 d-flex align-items-end py-3 justify-content-end">
                        <button class="btn btn-success text-light btn-sm mx-1 exportToExcel">
                          <i class="fa fa-file-excel-o pr-1"></i> Excel
                        </button>
                        <button class="btn btn-dark text-light btn-sm mx-1" onclick="print()">
                          <i class="fa fa-print pr-1"></i> Print
                        </button>
                      </div>
                    </div> 
                    <div class="row d-print-none" id="SpinMainData" style="display: none;">
                      <div class="col-12 text-center">
                        <div class="spinner-grow" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </div>
                    </div>
                    <table class="table table-bordered table-hover bg-white table-sm mt-0 table2excel">
                      <thead>
                        <!-- MSGDATE,MSGTYPE,STUDENTTYPE,FIRSTNAME,LASTNAME,MOBILENO,TEXTMESSAGE -->
                        <tr class="bg-light">
                            <th>#</th>
                            <th>Date</th>
                            <th>MSG Type</th>
                            <th>Student Type</th>
                            <th>Student</th>
                            <th>Message</th>
                            <th>Mobile</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr title="{{x.MSGID}}" ng-repeat="x in post.getMSGHistory | filter : temp.txtSerarch">
                            <td data-ng-bind="$index+1"></td>
                            <td ng-bind="x.MSGDATE"> </td>
                            <td ng-bind="x.MSGTYPE"></td>
                            <td ng-bind="(x.STUDENTTYPE && x.STUDENTTYPE!='') ? x.STUDENTTYPE : '&#8212;'"></td>
                            <td ng-bind="(x.FIRSTNAME && x.FIRSTNAME!='') ? x.FIRSTNAME +' '+ x.LASTNAME : '&#8212;'"></td>
                            <td ng-bind="x.TEXTMESSAGE"></td>
                            <td style="white-space: pre-line;" ng-bind="x.MSG_STATUS"></td>
                            <!-- <td style="width:10%" class="noExl">
                              <button title="Edit" type="button" data-ng-click="editForm(x)" class="btn btn-success btn-sm btn-round" >
                                <i class="fa fa-pencil"></i>
                              </button>
                              <button title="Delete" type="button" data-ng-click="delete(x)" class="btn btn-danger btn-sm btn-round" >
                                <i class="fa fa-times"></i>
                              </button>
                            </td> -->
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr ng-hide="post.getMSGHistory.length>0">
                          <td colspan="100%" class="text-center text-danger noExl">No Records</td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
                <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
                <!--================== SMS TABLE ==================-->
                <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
                
                



                
                <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
                <!--================== EMAIL TABLE ==================-->
                <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
                <div class="tab-pane fade" id="pills-email" role="tabpanel" aria-labelledby="pills-email-tab">
                  <div class="table-responsive pb-0 card card-body rounded-my mt-2">
                    <div class="row d-print-none">
                      <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="form-group mb-0">
                          <label class="font-weight-bold" for="txtSerarchEmail">Search by Anything :</label>
                          <input type="text" class="form-control py-0" id="txtSerarchEmail" data-ng-model="temp.txtSerarchEmail" placeholder="Type Here..." onfocus="select()" autocomplete="off" required>
                        </div>
                      </div>
                      <div class="col-md-4 col-lg-2 col-sm-12">
                        <div class="form-group mb-0">
                          <label class="font-weight-bold" for="txtFromDTEmail">From :</label>
                          <input type="date" class="form-control py-0" id="txtFromDTEmail" ng-change="getEMAILHistory()" data-ng-model="temp.txtFromDTEmail"  onfocus="select()" autocomplete="off" required>
                        </div>
                      </div>
                      <div class="col-md-4 col-lg-2 col-sm-12">
                        <div class="form-group mb-0">
                          <label class="font-weight-bold" for="txtToDTEmail">To :</label>
                          <input type="date" class="form-control py-0" id="txtToDTEmail" ng-change="getEMAILHistory()" data-ng-model="temp.txtToDTEmail"  onfocus="select()" autocomplete="off" required>
                        </div>
                      </div>
    
                      <div class="col-sm-12 col-md-4 col-lg-5 d-flex align-items-end py-3 justify-content-end">
                        <button class="btn btn-success text-light btn-sm mx-1 exportToExcelEmail">
                          <i class="fa fa-file-excel-o pr-1"></i> Excel
                        </button>
                        <button class="btn btn-dark text-light btn-sm mx-1" onclick="print()">
                          <i class="fa fa-print pr-1"></i> Print
                        </button>
                      </div>
                    </div> 
                    <div class="row d-print-none" id="SpinMainDataEmail" style="display: none;">
                      <div class="col-12 text-center">
                        <div class="spinner-grow" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                        <div class="spinner-grow" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </div>
                    </div>
                    <table class="table table-bordered table-hover bg-white table-sm mt-0 table2excelEmail">
                      <thead>
                        <!-- MSGDATE,MSGTYPE,STUDENTTYPE,FIRSTNAME,LASTNAME,MOBILENO,TEXTMESSAGE -->
                        <tr class="bg-light">
                            <th>#</th>
                            <th>Date</th>
                            <th>Email Type</th>
                            <th>Student Type</th>
                            <th>Student</th>
                            <th>Email Id</th>
                            <th>Message</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr title="{{x.EMID}}" ng-repeat="x in post.getEMAILHistory | filter : temp.txtSerarchEmail">
                            <td data-ng-bind="$index+1"></td>
                            <td ng-bind="x.EMAILDATE"> </td>
                            <td ng-bind="x.EMAILTYPE"></td>
                            <td ng-bind="(x.STUDENTTYPE && x.STUDENTTYPE!='') ? x.STUDENTTYPE : '&#8212;'"></td>
                            <td ng-bind="(x.FIRSTNAME && x.FIRSTNAME!='') ? x.FIRSTNAME +' '+ x.LASTNAME : '&#8212;'"></td>
                            <td ng-bind="x.EMAILID"></td>
                            <td ng-bind="x.TEXTEMAIL"></td>
                            <!-- <td style="width:10%" class="noExl">
                              <button title="Edit" type="button" data-ng-click="editForm(x)" class="btn btn-success btn-sm btn-round" >
                                <i class="fa fa-pencil"></i>
                              </button>
                              <button title="Delete" type="button" data-ng-click="delete(x)" class="btn btn-danger btn-sm btn-round" >
                                <i class="fa fa-times"></i>
                              </button>
                            </td> -->
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr ng-hide="post.getEMAILHistory.length>0">
                          <td colspan="100%" class="text-center text-danger noExl">No Records</td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
                <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
                <!--================== EMAIL TABLE ==================-->
                <!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->


              </div>
            </div>
            
          </div>
      </section>
    </div>
	</div>
  <div id="_mobile_column_left" class="container"></div>
  <div id="_mobile_column_right" class="container"></div>



  <!--================== ALERT ==================-->
  <div class="d-flex justify-content-md-end justify-content-sm-center w-100 fixed-bottom p-2 d-print-none" id="myToastMain" style="bottom: -80px;">
    <div class="toast w-100 fade shadow-lg" role="alert" id="myToast" aria-live="assertive" aria-atomic="true" data-delay="5000">
      <div class="toast-header text-light">
        <strong class="mr-auto">Alert</strong>
        <small class="">just now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body alert-light">
        <samp class="font-weight-bold"></samp>
      </div>
    </div>
  </div>
<!--================== ALERT ==================-->

  <div class="mt-auto d-print-none" ng-include="'include/footer.html'"></div>

  <!-- MULTI SELECT -->
  <script>
    $(document).ready(function() { 
      $("#PLANS,#CLASSOF,#SUBJECT,#PRODUCTS,#STUDENTS").find('div').css({'width':'100%'});
      $("#PLANS,#CLASSOF,#SUBJECT,#PRODUCTS,#STUDENTS").find('button').addClass('btn-block');
      // $('.dropdown-toggle').attr('disabled','disabled');
    });
  </script>
  <!-- MULTI SELECT -->

  <script src="../js/excel/jquery.table2excel.js" type="text/javascript"></script>
  <script>
    $(function() {
        $(".exportToExcel").click(function(e){
          var table = $(this).prev('.table2excel');
          var preserveColors = (table.hasClass('table2excel_with_colors') ? true : false);
          var date = new Date();
          date = date.getDate()+"-"+(date.getMonth()+1)+"-"+date.getFullYear();
          $('.table2excel').table2excel({
              exclude: ".noExl",
              name: "Excel Document Name",
              filename: date + "_Student_Message.xls",
              fileext: ".xls",
              exclude_img: true,
              exclude_links: true,
              exclude_inputs: true,
              preserveColors: preserveColors
          });
            
        });
        // EMAIL
        $(".exportToExcelEmail").click(function(e){
          var table = $(this).prev('.table2excelEmail');
          var preserveColors = (table.hasClass('table2excel_with_colors') ? true : false);
          var date = new Date();
          date = date.getDate()+"-"+(date.getMonth()+1)+"-"+date.getFullYear();
          $('.table2excelEmail').table2excel({
              exclude: ".noExl",
              name: "Excel Document Name",
              filename: date + "_Student_Email.xls",
              fileext: ".xls",
              exclude_img: true,
              exclude_links: true,
              exclude_inputs: true,
              preserveColors: preserveColors
          });
            
        });
    });
  </script>
</body></html>   