<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="ltr" lang="en" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="ltr" lang="en" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="en">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<title>PragatiWeb</title>
<!-- <base href="http://localhost:8080/myexamsprep/backoffice/" /> -->
<meta name="description" content="Personalized Tutoring" />
<script src="../js/jquery-2.1.1.min.js" type="text/javascript"></script>
<!-- <script src="../js/jquery-3.3.1.slim.min.js" type="text/javascript"></script> -->
<link href="../css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="../css/magnific-popup.css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="../css/owl.carousel.min.css" rel="stylesheet">
<script src="../js/owl.carousel.min.js" type="text/javascript"></script>
<script src="../js/theme.js" type="text/javascript"></script>
<link href="../css/stylesheet.css" rel="stylesheet">



<script src="../js/common.js" type="text/javascript"></script>
<script src="../js/popper.min.js" type="text/javascript"></script>
<script src="../js/support.js" type="text/javascript"></script>
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="../js/jquery.magnific-popup.min.js"></script>
<script src="../js/moment.min.js" type="text/javascript"></script>
<script src="../js/moment-with-locales.min.js" type="text/javascript"></script>
<script src="../js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<!-- <link href="../image/cart.png" rel="icon" /> -->


<!-- #Angular Js -->
<script src="../angular_js/angular.min.js" type="text/javascript"></script>
<script src="../angular_js/angular-route.js" type="text/javascript"></script>
<script src="../angular_js/angular-animate.js" type="text/javascript"></script>
<script src="../angular_js/angular-sanitize.js" type="text/javascript"></script>

<!-- Material Angular -->
<script src="../angular_js/material/angular-aria.min.js" type="text/javascript"></script>
<script src="../angular_js/material/angular-material.js" type="text/javascript"></script>
<link href="../angular_js/material/angular-material.css" rel="stylesheet" type="text/css" />

<!-- Pageing -->
<script src="../angular_js/dirPagination.js" type="text/javascript"></script>
<link href="../css/paging.css" rel="stylesheet">
<link href="../css/table-sort.css?ver=3" rel="stylesheet" type="text/css">

<script src="code/Student_Registration_Report.js"></script>


<script src="../js/excel/jquery.table2excel.js" type="text/javascript"></script>

<link rel="stylesheet" href="../css/OnPrint.css?ver=11">



</head>
<body data-ng-app="myApp" data-ng-controller="myCtrl" data-ng-init="init()" class="d-flex flex-column min-vh-100">
 
    

  
    <!-- Header -->
<div id="menu_wrapper"></div>
<header id="header" class="home d-print-none">
      
  <div ng-include="'include/header.html?ver=10'" class="d-print-none"></div>
    
</header>


  
  <div id="spin-wrapper" ></div>
  <div id="siteloader" class="d-print-none">
        <div class="loader loader-1"></div>
  </div>



	<div id="common-home">    
    <div class="content_middle">
        <section class="ishiproductsblock container mb-0">
          <div class="section-header">
            <h4 class="home-title"><span>Student Details</span></h4>
          </div>

          <div class="row" style="text-align:left">
            <div class="col-sm-12 my-2">
              
              <form novalidate name="PMForm" class="bg-white card card-body rounded-my d-print-none" enctype="multipart/form-data" autocomplete="off">
               
                <div class="row">
                  <div class="col-md-12 col-lg-2 col-sm-12">
                    <div class="form-group">
                       <label for="TEXT_SCHOOL_ID">School :<span class="text-danger">*</span> <i class="fa fa-spin fa-spinner SpinBank" style="display:none;"></i></label>
                        <select class="form-control" id="TEXT_SCHOOL_ID" ng-change= "getQuery();getClass()" data-ng-model="temp.TEXT_SCHOOL_ID" required>
                          <option class="select-bg-color" value="">-- SELECT --</option>
                          <option class="select-bg-color" ng-repeat="x in post.getschoolname"  ng-bind="x.SCHOOL_NAME" value="{{x.SCHOOL_ID}}"></option>
                        </select>
                      </div>
                  </div>
                
 
                              
                  <div class="col-md-12 col-lg-3 col-sm-12 d-flex align-items-end py-3">
                    <button class="btn btn-outline-danger btn-sm mr-1" data-ng-click="clear()">CLEAR</button>
                  </div>
                </div>
                   
                                   
                <div class="row m-0">
                    <div class="col-sm-6 px-0">
                        <div class="alert alert-success" style="display:none;"><span></span></div>
                        <div class="alert alert-danger" style="display:none;"><span></span></div>
                    </div>
                </div>
              </form>
        
              <div class="table-responsive pb-0 card card-body rounded-my mt-2">
                <div class="row">
                  <div class="col-md-6 col-lg-3 col-sm-12 d-print-none">
                    <div class="form-group">
                        <label class="font-weight-bold" for="txtsearch">Search by Anything :</label>
                        <input type="text" class="form-control" id="txtsearch" data-ng-model="temp.txtsearch" placeholder="Type Here..." onfocus="select()" autocomplete="off" >
                    </div>
                  </div>
        
                                    
                   <div class="col-md-6 col-lg-2 col-sm-12 d-print-none">
                    <div class="form-group">
                    <label for="TEXT_CLASS_CD">Class:<span class="text-danger"></span><i class="fa fa-spin fa-spinner SpinBank" style="display:none;"></i></label>
                        <select class="form-control" id="TEXT_CLASS_CD" ng-change= "getQuery()" data-ng-model="temp.TEXT_CLASS_CD" >
                          <option class="select-bg-color" value="">-- ALL --</option>
                          <option class="select-bg-color" ng-repeat="x in post.getClass"  ng-bind="x.CLASS" value="{{x.CLASS_CD}}"></option>
                        </select>
                   </div>
                  </div>
                  

                  <div class="col-md-6 col-lg-6 col-sm-12 d-flex align-items-end justify-content-end py-3 d-print-none">
                    <button class="btn btn-success text-light btn-sm mx-1 exportToExcel">
                      <i class="fa fa-file-excel-o pr-1"></i> Excel
                    </button>
                    <button class="btn btn-dark text-light btn-sm mx-1"  onclick="print()">
                      <i class="fa fa-print pr-1"></i> Print
                    </button>
                  </div>
                  
                </div> 
              
                <!-- Students List -->
              <h4 class="h5 font-weight-bold text-dark mt-4 mb-3 border-bottom pb-2 " ng-show="showDetailsBlock">Students List</h4>

              <div class="table-responsive pb-0 card card-body rounded-my mt-2" ng-show="showDetailsBlock">
                <table class="table table-bordered table-hover bg-white table-sm table2excel table-sort" ng-init="myOrderBY=''" >
                    <tr>
                        <th>#</th>
                        <th>Class</th>
                        <th>Student Id</th>
                        <th>Name</th>
                        <th>Parents/Guardian Name</th>
                        <th>Date of Admission</th>
                        <th>DOB</th>
                        <th>Address</th>
                        <th>Student Mobile No</th>
                        <th>View Details </th>
                    </tr>
                   
                    <tr  title="{{x.STUDENT_ID}}" ng-repeat="x in List=(post.getQuery | filter : temp.txtsearch)" ng-dblclick="edit(x)">
                        <td data-ng-bind="$index+1"></td>
                        <td ng-bind="x.CLASS"></td>
                        <td ng-bind="x.STUDENT_ID"></td>
                        <td ng-bind="x.STUDENT_NAME"></td>
                        <td>
                          <div><b class="text-muted">Father: </b><span ng-bind="x.FATHER_NAME"></span></div>
                          <div><b class="text-muted">Mother: </b><span ng-bind="x.MOTHER_NAME"></span></div>
                        </td>
                        <td ng-bind="x.DATE_OF_ADMISSION"></td>
                        <td ng-bind="x.DOB"></td>
                        <td ng-bind="x.ADDRESS1"></td>
                        <td ng-bind="x.STUDENT_MOBILE_NO"></td>
                        <td style="width:10%" class="d-print-none">
                                                  
                          <button title="Click to view full Student profile" 
                            ng-class="{'text-white': x.STUDENT_ID == temp.pmid}" 
                            type="button" 
                            data-ng-click="temp.txtsearch='';loadStudentDetails(x.STUDENT_ID, x.CLASS_CD, x.FY_YEAR_CD)"
                            class="btn btn-info btn-sm btn-round" 
                            data-toggle="dropdown">
                            <i class="fa fa-search"></i> View Profile
                          </button>
                                   
                        </td>
                    </tr>
                    <tr ng-hide="List.length>0" class="d-print-none noExl">
                      <td colspan="100%" class="text-center text-danger">No Records</td>
                    </tr>
                </table>
                         
              </div>
             
              <div class="text-right d-print-none" ng-show="!showDetailsBlock">
                <button class="btn btn-secondary btn-sm" data-ng-click="showDetailsBlock = true; showStudentBlocks = false">
                  <i class="fa fa-arrow-left pr-1"></i> Back to Student List
                </button>
               </div>

             <!-- Student Details-->
              <h4 class="h5 font-weight-bold text-dark mt-4 mb-3 border-bottom pb-2 " ng-show="showStudentBlocks">Students Details</h4>

              <div class="table-responsive pb-0 card card-body rounded-my mt-2" ng-show="showStudentBlocks">
                <table class="table table-bordered table-hover bg-white table-sm table2excel table-sort" ng-init="myOrderBY=''" >
                    <tr>
                       
                        <th>Class</th>
                        <th>Student Id</th>
                        <th>Name</th>
                        <th>Parents/Guardian Name</th>
                        <th>Date of Admission</th>
                        <th>DOB</th>
                        <th>Address</th>
                        <th>Parent/Student Mobile No</th>
                    </tr>
                   
                    <tr  title="{{x.STUDENT_ID}}" ng-repeat="x in List=(post.getStudentDetails | filter : temp.txtsearch)" ng-dblclick="edit(x)">
                        
                        <td ng-bind="x.CLASS"></td>
                        <td ng-bind="x.STUDENT_ID"></td>
                        <td ng-bind="x.STUDENT_NAME"></td>
                        <td>
                          <div><b class="text-muted">Father: </b><span ng-bind="x.FATHER_NAME"></span></div>
                          <div><b class="text-muted">Mother: </b><span ng-bind="x.MOTHER_NAME"></span></div>
                        </td>
                        <td ng-bind="x.DATE_OF_ADMISSION"></td>
                        <td ng-bind="x.DOB"></td>
                     
                        <td>
                          <div><b class="text-muted">Address: </b><span ng-bind="x.ADDRESS1"></span></div>
                          <div><b class="text-muted">City: </b><span ng-bind="x.CITY"></span></div>
                        </td>
                        <td>
                          <div><b class="text-muted">Parent: </b><span ng-bind="x.FATHER_MOBILE_NO"></span></div>
                          <div><b class="text-muted">Student: </b><span ng-bind="x.STUDENT_MOBILE_NO"></span></div>
                        </td>
                       
                     </tr>
      
                     <tr ng-hide="List.length>0" class="d-print-none noExl">
                      <td colspan="100%" class="text-center text-danger">No Records</td>
                    </tr>
                </table>
                         
              </div>


                <h4 class="h5 font-weight-bold text-dark mt-4 mb-3 border-bottom pb-2" ng-show="showStudentBlocks">Fees Demand</h4>
                  <table class="table table-bordered table-hover bg-white table-sm table2excel table-sort " ng-show="showStudentBlocks" ng-init="myOrderBY=''" >
                    <tr>
                       
                        <th style="text-align: center;">Financial Year</th>
                        <th style="text-align: center;">Total Fees Due</th>
                        <th style="text-align: center;">Total Fees Paid</th>
                        <th style="text-align: center;">Total Fees Balance</th>
                    </tr>
    
                    <tr ng-class="{'bg-dark text-white' : x.FEES_ID == temp.feespaymentid}" title="{{x.FEES_ID}}" ng-repeat="x in List=(post.getFeesMaster | filter : temp.txtsearch)" ng-dblclick="edit(x)">
                       
                        <td ng-bind="x.FEES_FY_YEAR" style="text-align: center;"></td>
                        <td ng-bind="x.FEES_DUE" style="text-align: center;"></td>
                        <td ng-bind="x.FEES_PAID" style="text-align: center;"></td>
                        <td ng-bind="x.FEES_BALANCE" style="text-align: center;"></td>
                    </tr>
                    <tr ng-hide="List.length>0" class="d-print-none noExl">
                      <td colspan="100%" class="text-center text-danger">No Records</td>
                    </tr>
                </table>
                
                
                  <h4 class="h5 font-weight-bold text-dark mt-4 mb-3 border-bottom pb-2" ng-show="showStudentBlocks">Fees Payment Details</h4>

                  <table class="table table-bordered table-hover bg-white table-sm table2excel table-sort " ng-show="showStudentBlocks" ng-init="myOrderBY=''" >
                    <tr>
                        <th style="text-align: center;">S.No</th>
                        <th style="text-align: center;">Receipt No</th>
                        <th style="text-align: center;">Fees Paid</th>
                        <th style="text-align: center;">Payment Mode</th>
                        <th style="text-align: center;">Payment Date</th>
                    </tr>
    
                    <tr ng-class="{'bg-dark text-white' : x.FEES_PAYMENT_ID == temp.feespaymentid}" title="{{x.FEES_PAYMENT_ID}}" ng-repeat="x in List=(post.getFees | filter : temp.txtsearch)" ng-dblclick="edit(x)">
                        <td data-ng-bind="$index+1" style="text-align: center;"></td>
                        <td ng-bind="x.RECEIPT_NO" style="text-align: center;"></td>
                        <td ng-bind="x.FEES_PAID" style="text-align: center;"></td>
                        <td ng-bind="x.PAYMENT_MODE" style="text-align: center;"></td>
                        <td ng-bind="x.PAYMENT_DATE" style="text-align: center;"></td>
                    </tr>
                    <tr ng-hide="List.length>0" class="d-print-none noExl">
                      <td colspan="100%" class="text-center text-danger">No Records</td>
                    </tr>
                </table>

            
                <h4 class="h5 font-weight-bold text-dark mt-4 mb-3 border-bottom pb-2" ng-show="showStudentBlocks">Security Amount Details</h4>
                <table class="table table-bordered table-hover bg-white table-sm table2excel table-sort " ng-show="showStudentBlocks" ng-init="myOrderBY=''" >
                
                  <tr>
                        
                        <th style="text-align: center;">Security Demand Amount</th>
                        <th style="text-align: center;">Security Received Amount</th>
                        <th style="text-align: center;">Security Payment Date</th>
                        <th style="text-align: center;">Security Returned Amount</th>
                        <th style="text-align: center;">Security Returned Date</th>
                        <th style="text-align: center;">Security Balance</th>
                    </tr>
    
                    <tr title="{{x.STUDENT_SECURITY_ID}}" ng-repeat="x in post.getSecurity">

                        <td ng-bind="x.SECURITY_DEMAND_AMOUNT" style="text-align: center;"></td>
                        <td ng-bind="x.SECURITY_RECEIVED_AMOUNT" style="text-align: center;"></td>
                        <td ng-bind="x.SECURITY_PAYMENT_DATE" style="text-align: center;"></td>
                        <td ng-bind="x.SECURITY_RETURNED_AMOUNT" style="text-align: center;"></td>
                        <td ng-bind="x.SECURITY_RETURN_DATE" style="text-align: center;"></td>
                        <td ng-bind="x.SECURITY_BALANCE" style="text-align: center;"></td>
                        
                    </tr>
                    <tr ng-hide="List.length>0" class="d-print-none noExl">
                      <td colspan="100%" class="text-center text-danger">No Records</td>
                    </tr>
                </table>


              </div>
            </div>
          </div>
      </section>
    </div>
	</div>
  <div id="_mobile_column_left" class="container"></div>
  <div id="_mobile_column_right" class="container"></div>


  <div class="mt-auto" ng-include="'include/footer.html'"></div>

<script>
    $(function() {
        $(".exportToExcel").click(function(e){
          var table = $('.table-sm'); // Update this selector to match your table class
          var preserveColors = (table.hasClass('table2excel_with_colors') ? true : false);
          var date = new Date();
          date = date.getDate()+"-"+(date.getMonth()+1)+"-"+date.getFullYear();
              table.table2excel({
              exclude: ".noExl",
              name: "Excel Document Name",
              filename: date + "_Student_Registration_Report.xls",
              fileext: ".xls",
              exclude_img: true,
              exclude_links: true,
              exclude_inputs: true,
              preserveColors: true
          });
        });
    });
</script>
<!-- Changes for Excel & Print addition -->


</body></html>   