<div class="row" style="text-align:left">
    <div class="col-sm-12 my-2">
      <form novalidate name="productForm" class="bg-white card card-body rounded-my" enctype="multipart/form-data" autocomplete="off">
        <div class="row">
          <div class="col-md-12 col-lg-2 col-sm-12">
            <div class="form-group">
                <label for="txtDate">Date :<span class="text-danger">*</span></label>
                <input type="date" class="form-control" id="txtDate" ng-change="getAttendance();getStudentData(); getCH_Work();" data-ng-model="temp.txtDate" autocomplete="off" required>
            </div>
          </div>

          <div class="col-md-12 col-lg-2 col-sm-12">
            <div class="form-group">
              <label for="ddlAttType">Attendance Type :<span class="text-danger">*</span></label>
                <select class="form-control" id="ddlAttType" data-ng-model="temp.ddlAttType" data-ng-init="temp.ddlAttType='REGULAR'" ng-change="getAttendance();getStudentData(); AttALL='0'" required>
                  <option class="select-bg-color" value="">-- SELECT --</option>
                  <option class="select-bg-color" value="REGULAR">Regular</option>
                  <option class="select-bg-color" value="EXTRA">Extra</option>
                  <option class="select-bg-color" value="MAKE-UP">Make-up</option>
                </select>
              </div>
          </div>

          <div class="col-md-12 col-lg-2 col-sm-12">
            <div class="form-group">
              <label for="ddlLocation">Location :<span class="text-danger">*</span></label>
                <select class="form-control" id="ddlLocation" data-ng-model="temp.ddlLocation" ng-change="getAttendance();getStudentData(); getTeacher(); getCH_Work();" required>
                  <option class="select-bg-color" value="">-- SELECT --</option>
                  <option class="select-bg-color" ng-repeat="l in post.getLocations | orderBy:'LOCATION'" value="{{l.LOC_ID}}" ng-bind="l.LOCATION"></option>
                </select>
              </div>
          </div>

          <div class="col-md-12 col-lg-2 col-sm-12">
            <div class="form-group">
              <label for="ddlTeacher">Teacher :<span class="text-danger">*</span> <i class="fa fa-spinner fa-spin spinTeacher" style="display: none;"></i></label>
                <select class="form-control" id="ddlTeacher" ng-disabled="userrole == 'TEACHER'" data-ng-model="temp.ddlTeacher" ng-change="getAtt(); getPlans(); getTeacherProduct(); getStudentData(); getAttendance();" data-ng-disabled="!post.getTeacher" ng-required="(userrole == 'ADMINISTRATOR' || userrole == 'SUPERADMIN')">
                  <option class="select-bg-color" value="">-- SELECT --</option>
                  <option class="select-bg-color" ng-repeat="t in post.getTeacher | orderBy:'FULLNAME'" value="{{t.UID}}" ng-bind="t.FULLNAME"></option>
                </select>
              </div>
          </div>

          <div class="col-md-12 col-lg-2 col-sm-12">
            <div class="form-group">
              <label for="ddlPlan">Plan : <i class="fa fa-spinner fa-spin spinPlan" style="display: none;"></i></label>
                <select class="form-control" id="ddlPlan" data-ng-model="temp.ddlPlan" ng-change="getAttendance();getStudentData(); getCH_Work(); AttALL='0'"
                data-ng-disabled="!post.getPlans">
                  <option class="select-bg-color" value="">-- SELECT --</option>
                  <option class="select-bg-color" ng-repeat="p in post.getPlans | orderBy:'PLANNAME'" title="{{p.PLANID}}" value="{{p.PLANID}}" ng-bind="p.PLANNAME"></option>
                </select>
              </div>
          </div>

          <div class="col-md-12 col-lg-2 col-sm-12">
            <div class="form-group">
              <label for="ddlProduct">Product :<span class="text-danger">*</span> <i class="fa fa-spinner fa-spin spinProduct" style="display: none;"></i></label>
                <select class="form-control" id="ddlProduct" data-ng-model="temp.ddlProduct" ng-change="getAttendance();getStudentData(); getCH_Work(); AttALL='0'" 
                  data-ng-disabled="post.getTeacherProduct.length<=0 || !temp.ddlTeacher" required>
                  <option class="select-bg-color" value="">-- SELECT --</option>
                  <option class="select-bg-color" ng-repeat="p in post.getTeacherProduct | orderBy:'PRODUCT'" value="{{p.PRODUCTID}}" ng-bind="p.PRODUCT"></option>
                </select>
              </div>
          </div>
          
          
        </div>
            
        
        <div class="row m-0">
            <div class="col-sm-6 px-0">
                <div class="alert alert-success" style="display:none;"><span></span></div>
                <div class="alert alert-danger" style="display:none;"><span></span></div>
            </div>
        </div>
      </form>
      
      <div class="row">
        <!-- Attendance -->
        <div class="col-md-12 col-lg-6 pr-lg-1 pr-md-3">
          <div class="table-responsive pb-0 card card-body rounded-my mt-2 pt-2">
            <div class="row">
              <div class="col-12 text-center mb-2">
                <h4 class="mb-0 py-1 alert-info rounded-lg"><b>ATTENDANCE</b></h4>
              </div>

              <!-- <div class="col-md-12 col-lg-6 col-sm-12">
                <div class="form-group">
                    <label class="font-weight-bold" for="txtSerarch">Search by Anything :</label>
                    <input type="text" class="form-control" id="txtSerarch" data-ng-model="temp.txtSerarch" placeholder="Type Here..." onfocus="select()" autocomplete="off" required>
                </div>
              </div> -->
            </div> 

            <table class="table table-bordered table-hover bg-white table-sm">
                <tr>
                    <th>#</th>
                    <th>Student Name</th>
                    <th>
                      <p class="my-0 text-dark" ng-hide="post.getStudentData.length>0">Attendance </p>
                      <div class="custom-control custom-switch"  ng-show="post.getStudentData.length>0">
                        <input type="checkbox" class="custom-control-input" data-ng-change="SelectAllST(AttALL)" data-ng-init="AttALL='0'" ng-true-value="'1'" 
                        ng-false-value="'0'" data-ng-model="AttALL" id="AttALL">
                        <label class="custom-control-label pt-1 text-dark font-weight-bold noselect pointer" for="AttALL">Attendance</label>
                      </div>
                    </th>
                </tr>
                <tr title="{{x.REGID}}" ng-repeat="x in StudentDatalist=(post.getStudentData | filter : temp.txtSerarch)" ng-click="Att[$index]=='0' ? Att[$index]='1' : Att[$index]='0'" style="cursor: pointer;">
                    <td data-ng-bind="$index+1"></td>
                    <td ng-bind="x.STUDENT"></td>
                    <td>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" data-ng-init="x.ATTENDANCE == 0 ? Att[$index]='0' : Att[$index]='1' " ng-true-value="'1'" ng-false-value="'0'" data-ng-model="Att[$index]" id="Att{{$index}}">
                        <label class="custom-control-label" for="Att{{$index}}"></label>
                      </div>
                    </td>
                </tr>
                <tr ng-show="StudentDatalist.length>0">
                  <th colspan="3">
                    <div class="row">
                      <div class="col-12 text-right">
                        <button class="btn btn-outline-primary btn-sm btn-save" ng-click="SaveAttendace()">SAVE</button>
                      </div>
                    </div>
                  </th>
                </tr>
                <tr ng-hide="StudentDatalist.length>0">
                  <td colspan="10" class="text-center text-danger">No Records</td>
                </tr>
            </table>
          </div>
        </div>


        <!-- Class Work/Home Work -->

        <div class="col-md-12 col-lg-6 pl-lg-1 pl-md-3 mt-2">
          <form novalidate name="productForm" class="bg-white card card-body rounded-my pt-2" enctype="multipart/form-data" autocomplete="off">
            <div class="row">
              <div class="col-12 text-center mb-2">
                <h4 class="mb-0 py-1 alert-primary rounded-lg"><b>CLASS / HOME WORK</b></h4>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="form-group">
                  <label class="font-weight-bold" for="txtCW">Class Work :</label>
                  <textarea class="form-control" data-ng-model="temp.txtCW" id="txtCW" rows="7"></textarea>
                </div>
              </div>
              
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="form-group">
                  <label class="font-weight-bold" for="txtHW">Home Work :</label>
                  <textarea class="form-control" data-ng-model="temp.txtHW" id="txtHW" rows="7"></textarea>
                </div>
              </div>

              <div class="col-12 text-right">
                <button ng-disabled="!temp.txtDate || !temp.ddlLocation || !temp.ddlPlan" 
                ng-hide="temp.hwid" class="btn btn-outline-primary btn-sm btn-save-CH" ng-click="saveCH_Work()">SAVE</button>

                <button ng-disabled="!temp.txtDate || !temp.ddlLocation || !temp.ddlPlan" 
                ng-hide="!temp.hwid" class="btn btn-outline-warning btn-sm btn-update-CH" ng-click="saveCH_Work()">UPDATE</button>
              </div>

            </div>
          </form>
        </div>
      </div>


    
    </div>
  </div>